In [1]:
import pandas as pd

import os

In [2]:
# !pip install mysql-connector-python
# !pip install --user mysql-connector-python

import mysql.connector
conn = mysql.connector.connect(
    host="studentdb.crsqkeh7g4o2.us-east-2.rds.amazonaws.com",
    user="living_wage",
    password="LivingWage123!",
    database="giq_data",            # or "giq_data" for read-only
    port=3306,
    charset="utf8mb4",
    collation="utf8mb4_unicode_ci"
)
cursor = conn.cursor()
cursor.execute("SHOW TABLES;")
print(cursor.fetchall())
cursor.close()
conn.close()

[('benchmarking_data_part1',), ('benchmarking_data_part2',), ('benchmarking_data_part3',), ('benchmarking_data_part4',), ('benchmarking_data_part5a',), ('benchmarking_data_part5b',), ('compensation_data',), ('cost_estimate_data',), ('cost_estimate_data_part1',), ('cost_estimate_data_part10',), ('cost_estimate_data_part2',), ('cost_estimate_data_part3',), ('cost_estimate_data_part4',), ('cost_estimate_data_part5',), ('cost_estimate_data_part6',), ('cost_estimate_data_part7',), ('cost_estimate_data_part8',), ('cost_estimate_data_part9',), ('exchange_rates_data',), ('expenditure_models_data',), ('gs_codes_data',), ('gs_codes_data_2',), ('gs_prices_data',), ('housing_rental_data',), ('location_data',)]

In [3]:
import mysql.connector

conn = mysql.connector.connect(
    host="studentdb.crsqkeh7g4o2.us-east-2.rds.amazonaws.com",
    user="living_wage",
    password="LivingWage123!",
    database="giq_data",  # use correct database
    port=3306,
    charset="utf8mb4",
    collation="utf8mb4_unicode_ci"
)

cursor = conn.cursor()
cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()

for (table_name,) in tables:
    print(f"\nTable: {table_name}")
    
    # Get column names
    cursor.execute(f"DESCRIBE {table_name};")
    columns = cursor.fetchall()
    col_names = [col[0] for col in columns]
    print(f"Columns ({len(col_names)}): {col_names}")
    
    # Get row count
    cursor.execute(f"SELECT COUNT(*) FROM {table_name};")
    row_count = cursor.fetchone()[0]
    print(f"Number of rows: {row_count}")

cursor.close()
conn.close()

Table: benchmarking_data_part1
Columns (9): ['record_id', 'Unnamed: 0', 'DummyCompany:Company_Name', 'Q2.2:Company_Headquarters', 'Q2.3:Respondent_Location', 'Q2.4:Company_Revenue', 'Q2.5:Company_Employees', 'Q2.6:Industry', 'Q5.2:Number_of_Program_Policies']
Number of rows: 1866

Table: benchmarking_data_part2
Columns (62): ['record_id', 'Q5.3_1_TEXT:Policy_Name', 'Q210_x1:Policy_Category_2', 'Q245_xx1:Domestic_Country', 'Q247_xx1:Internship_Country', 'Q5.5_x1_1:Policy_Type_Long_Term', 'Q5.5_x1_3:Policy_Type_Short_Term', 'Q5.5_x1_4:Policy_Type_Permanent', 'Q5.5_x1_5:Policy_Type_Local_Plus', 'Q5.5_x1_6:Policy_Type_Talent_Development', 'Q5.5_x1_7:Policy_Type_Repeat_Transferees', 'Q5.5_x1_8:Policy_Type_Commuter', 'Q5.5_x1_9:Policy_Type_Rotational', 'Q5.5_x1_10:Policy_Type_Intra_Regional', 'Q5.5_x1_11:Policy_Type_Project_Based', 'Q5.5_x1_13:Policy_Type_Compliance', 'Q5.5_x1_14:Policy_Type_Business_Travel', 'Q5.5_x1_15:Policy_Type_Extended_Business_Travel', 'Q5.5_x1_16:Policy_Type_Internship', 'Q5.5_x1_17:Policy_Type_Other', 'Q5.6_1_TEXT:Assignment_Length', 'Q5.7_x1_1:Region_All', 'Q5.7_x1_2:Region_NA', 'Q5.7_x1_3:Region_Latin America', 'Q5.7_x1_4:Region_Asia_Pacific', 'Q5.7_x1_5:Region_Europe', 'Q5.7_x1_6:Region_Middle_East', 'Q5.7_x1_7:Region_Africa', 'Q5.7_x1_8:Region_Other', 'Q5.10#1_x1_1:Policy_Segment_Entry_Junior', 'Q5.10#1_x1_2:Policy_Segment_Mid_Career', 'Q5.10#1_x1_3:Policy_Segment_Managerial', 'Q5.10#1_x1_4:Policy_Segment_Executive', 'Q5.10#2_x1_1:Policy_Segment_Blue_Collar', 'Q5.10#2_x1_2:Policy_Segment_Professional', 'Q5.10#3_x1_1:Policy_Segment_Voluntary', 'Q5.10#3_x1_2:Policy_Segment_Company_Requested', 'Q5.10#4_x1_1_TEXT:Policy_Segment_Minimum_Experience', 'Q5.10#4_x1_2_TEXT:Policy_Segment_Maximum_Experience', 'Q5.10#5_x1_1:Policy_Segment_New_Hire', 'Q5.10#5_x1_2:Policy_Segment_Current_Employee', 'Q5.10#5_x1_3:Policy_Segment_Contractor', 'Q5.10#6_x1_1:Policy_Segment_Homeowner', 'Q5.10#6_x1_2:Policy_Segment_Renter', 'Q241:Salary_Structure', 'Q7.2_x1:Compensation_Benefits_Location_Tie', 'Q7.3_xx1_1:Compensation_Determination_Local_Salary_Data', 'Q7.3_xx1_2:Compensation_Determination_Salary_Comparison', 'Q7.3_xx1_3:Compensation_Determination_Currency_Conversion', 'Q7.3_xx1_4:Compensation_Determination_Case_By_Case', 'Q7.3_xx1_5:Compensation_Determination_Other', 'Q7.4_xx1:Compensation_Delivery', 'Q7.5:Compensation_Currency_Protection', 'Q8.2_x1:Taxation_Approach', 'Q233_1:Repayment_Agreements', 'Q234_1:Repayment_Agreements_Details', 'Q237_1:Repayment_Agreements_Proration', 'Q238_1:Repayment_Agreements_Enforcement', 'Q10.2_x1:Accompanied_Relocations', 'Q10.3_xx1_1:Accompanied_Relocations_Spouse', 'Q10.3_xx1_2:Accompanied_Relocations_Children', 'Q10.3_xx1_3:Accompanied_Relocations_Other']
Number of rows: 1866

Table: benchmarking_data_part3
Columns (32): ['record_id', 'Q11.1#1_x1:Benefit_Pre_Relocation_Trip', 'Q11.1#2_x1:Benefit_Home_Sale', 'Q11.1#3_x1:Benefit_Lease_Cancellation', 'Q11.1#4_x1:Benefit_Storage', 'Q11.1#5_x1:Benefit_Home_Maintenance', 'Q11.1#6_x1:Benefit_Duplicate_Housing', 'Q11.1#7_x1:Benefit_Home_Purchase', 'Q11.1#8_x1:Benefit_HHG_Shipping', 'Q11.1#9_x1:Benefit_Pet_Shipping', 'Q11.1#10_x1:Benefit_Vehicle_Shipping', 'Q11.1#11_x1:Benefit_Auto_Loss', 'Q11.2#1_x1:Benefit_MRA', 'Q11.2#2_x1:Benefit_Tax_Briefing', 'Q11.2#3_x1:Benefit_Tax_Filing', 'Q11.2#4_x1:Benefit_Final_Relocation', 'Q11.2#5_x1:Benefit_Temporary_Living', 'Q11.2#6_x1:Benefit_Destination_Services', 'Q11.2#7_x1:Benefit_Language', 'Q11.2#8_x1:Benefit_Cultural', 'Q11.2#9_x1:Benefit_COLA', 'Q11.2#10_x1:Benefit_Immigration', 'Q11.3#1_x1:Benefit_Mobility_Premium', 'Q11.3#2_x1:Benefit_Hardship', 'Q11.3#3_x1:Benefit_Danger_Pay', 'Q11.3#4_x1:Benefit_Home_Leave', 'Q11.3#5_x1:Benefit_Host_Transportation', 'Q11.3#6_x1:Benefit_Host_Housing', 'Q11.3#7_x1:Benefit_Appliance', 'Q11.3#8_x1:Benefit_Spousal', 'Q11.3#9_x1:Benefit_Child_Care', 'Q11.3#10_x1:Benefit_Education']
Number of rows: 1866

Table: benchmarking_data_part4
Columns (94): ['record_id', 'Q12.2#1_xx1:Benefit_Pre_Relocation_Trip_Core_Flex', 'Q12.2#2_xx1_1:Benefit_Pre_Relocation_Trip_Lump_Sum', 'Q12.3_xxx1:Benefit_Pre_Relocation_Trip_Flexibility_Type', 'Q12.4#1_xx1:Benefit_Home_Sale_Core_Flex', 'Q12.4#2_xx1_1:Benefit_Home_Sale_Lump_Sum', 'Q12.5_xxx1:Benefit_Home_Sale_Flexibility_Type', 'Q12.6#1_xx1:Benefit_Lease_Cancellation_Core_Flex', 'Q12.6#2_xx1_1:Benefit_Lease_Cancellation_Lump_Sum', 'Q12.7_xxx1:Benefit_Lease_Cancellation_Flexibility_Type', 'Q12.8#1_xx1:Benefit_Storage_Core_Flex', 'Q12.8#2_xx1_1:Benefit_Storage_Lump_Sum', 'Q12.9_xxx1:Benefit_Storage_Flexibility_Type', 'Q12.10#1_xx1:Benefit_Home_Maintenance_Core_Flex', 'Q12.10#2_xx1_1:Benefit_Home_Maintenance_Lump_Sum', 'Q12.11_xxx1:Benefit_Home_Maintenance_Flexibility_Type', 'Q12.12#1_xx1:Benefit_Duplicate_Housing_Core_Flex', 'Q12.12#2_xx1_1:Benefit_Duplicate_Housing_Lump_Sum', 'Q12.13_xxx1:Benefit_Duplicate_Housing_Flexibility_Type', 'Q12.14#1_xx1:Benefit_Home_Purchase_Core_Flex', 'Q12.14#2_xx1_1:Benefit_Home_Purchase_Lump_Sum', 'Q12.15_xxx1:Benefit_Home_Purchase_Flexibility_Type', 'Q12.16#1_xx1:Benefit_HHG_Shipping_Core_Flex', 'Q12.16#2_xx1_1:Benefit_HHG_Shipping_Lump_Sum', 'Q12.17_xxx1:Benefit_HHG_Shipping_Flexibility_Type', 'Q12.18#1_xx1:Benefit_Pet_Shipping_Core_Flex', 'Q12.18#2_xx1_1:Benefit_Pet_Shipping_Lump_Sum', 'Q12.19_xxx1:Benefit_Pet_Shipping_Flexibility_Type', 'Q12.20#1_xx1:Benefit_Vehicle_Shipping_Core_Flex', 'Q12.20#2_xx1_1:Benefit_Vehicle_Shipping_Lump_Sum', 'Q12.21_xxx1:Benefit_Vehicle_Shipping_Flexibility_Type', 'Q12.22#1_xx1:Benefit_Auto_Loss_Core_Flex', 'Q12.22#2_xx1_1:Benefit_Auto_Loss_Lump_Sum', 'Q12.23_xxx1:Benefit_Auto_Loss_Flexibility_Type', 'Q13.1#1_xx1:Benefit_MRA_Core_Flex', 'Q13.1#2_xx1_1:Benefit_MRA_Lump_Sum', 'Q13.2_xxx1:Benefit_MRA_Flexibility_Type', 'Q13.3#1_xx1:Benefit_Tax_Briefing_Core_Flex', 'Q13.3#2_xx1_1:Benefit_Tax_Briefing_Lump_Sum', 'Q13.4_xxx1:Benefit_Tax_Briefing_Flexibility_Type', 'Q13.5#1_xx1:Benefit_Tax_Filing_Core_Flex', 'Q13.5#2_xx1_1:Benefit_Tax_Filing_Lump_Sum', 'Q13.6_xxx1:Benefit_Tax_Filing_Flexibility_Type', 'Q223#1_xx1:Benefit_Immigration_Core_Flex', 'Q223#2_xx1_1:Benefit_Immigration_Lump_Sum', 'Q224_xxx1:Benefit_Immigration_Flexibility_Type', 'Q13.7#1_xx1:Benefit_Final_Relocation_Core_Flex', 'Q13.7#2_xx1_1:Benefit_Final_Relocation_Lump_Sum', 'Q13.8_xxx1:Benefit_Final_Relocation_Flexibility_Type', 'Q13.9#1_xx1:Benefit_Temporary_Living_Core_Flex', 'Q13.9#2_xx1_1:Benefit_Temporary_Living_Lump_Sum', 'Q13.10_xxx1:Benefit_Temporary_Living_Flexibility_Type', 'Q13.11#1_xx1:Benefit_Destination_Services_Core_Flex', 'Q13.11#2_xx1_1:Benefit_Destination_Services_Lump_Sum', 'Q13.12_xxx1:Benefit_Desination_Services_Flexibility_Type', 'Q13.13#1_xx1:Benefit_Language_Core_Flex', 'Q13.13#2_xx1_1:Benefit_Language_Lump_Sum', 'Q13.14_xxx1:Benefit_Language_Flexibility_Type', 'Q13.15#1_xx1:Benefit_CulturalCore_Flex', 'Q13.15#2_xx1_1:Benefit_Cultural_Lump_Sum', 'Q13.16_xxx1:Benefit_Cultural_Flexibility_Type', 'Q13.17#1_xx1:Benefit_COLA_Core_Flex', 'Q13.17#2_xx1_1:Benefit_COLA_Lump_Sum', 'Q13.18_xxx1:Benefit_COLA_Flexibility_Type', 'Q14.1#1_xx1:Benefit_Mobility_Premium_Core_Flex', 'Q14.1#2_xx1_1:Benefit_Mobility_Premium_Lump_Sum', 'Q14.2_xxx1:Benefit_Mobility_Premium_Flexibility_Type', 'Q14.3#1_xx1:Benefit_Hardship_Core_Flex', 'Q14.3#2_xx1_1:Benefit_Hardship_Lump_Sum', 'Q14.4_xxx1:Benefit_Hardship_Flexibility_Type', 'Q14.5#1_xx1:Benefit_Danger_Pay_Core_Flex', 'Q14.5#2_xx1_1:Benefit_Danger_Pay_Lump_Sum', 'Q14.6_xxx1:Benefit_Danger_Pay_Flexibility_Type', 'Q14.7#1_xx1:Benefit_Home_Leave_Core_Flex', 'Q14.7#2_xx1_1:Benefit_Home_Leave_Lump_Sum', 'Q14.8_xxx1:Benefit_Home_Leave_Flexibility_Type', 'Q14.9#1_xx1:Benefit_Host_Transportation_Core_Flex', 'Q14.9#2_xx1_1:Benefit_Host_Transportation_Lump_Sum', 'Q14.10_xxx1:Benefit_Host_Transportation_Flexibility_Type', 'Q14.11#1_xx1:Benefit_Host_Housing_Core_Flex', 'Q14.11#2_xx1_1:Benefit_Host_Housing_Lump_Sum', 'Q14.12_xxx1:Benefit_Host_Housing_Flexibility_Type', 'Q14.13#1_xx1:Benefit_Appliance_Core_Flex', 'Q14.13#2_xx1_1:Benefit_Appliance_Lump_Sum', 'Q14.14_xxx1:Benefit_Appliance_Flexibility_Type', 'Q14.15#1_xx1:Benefit_Spousal_Core_Flex', 'Q14.15#2_xx1_1:Benefit_Spousal_Lump_Sum', 'Q14.16_xxx1:Benefit_Spousal_Flexibility_Type', 'Q14.17#1_xx1:Benefit_Child_Care_Core_Flex', 'Q14.17#2_xx1_1:Benefit_Child_Care_Lump_Sum', 'Q14.18_xxx1:Benefit_Child_Care_Flexibility_Type', 'Q14.19#1_xx1:Benefit_Education_Core_Flex', 'Q14.19#2_xx1_1:Benefit_Education_Lump_Sum', 'Q14.20_xxx1:Benefit_Education_Flexibility_Type']
Number of rows: 1866

Table: benchmarking_data_part5a
Columns (54): ['record_id', 'Q15.2_xx1_1:Benefit_Pre_Relocation_Trip_Expectation_Home_Fin', 'Q15.2_xx1_2:Benefit_Pre_Relocation_Trip_Expectation_School_F', 'Q15.2_xx1_3:Benefit_Pre_Relocation_Trip_Expectation_Office_V', 'Q15.2_xx1_4:Benefit_Pre_Relocation_Trip_Expectation_Administ', 'Q15.2_xx1_5:Benefit_Pre_Relocation_Trip_Expectation_Other', 'Q15.3_xx1_1:Benefit_Pre_Relocation_Trip_Expenses_Airfare', 'Q15.3_xx1_2:Benefit_Pre_Relocation_Trip_Expenses_Ground_Tran', 'Q15.3_xx1_3:Benefit_Pre_Relocation_Trip_Expenses_Housing', 'Q15.3_xx1_4:Benefit_Pre_Relocation_Trip_Expenses_City_Tour', 'Q15.3_xx1_5:Benefit_Pre_Relocation_Trip_Expenses_Meals', 'Q15.3_xx1_6:Benefit_Pre_Relocation_Trip_Expenses_Incidentals', 'Q15.4_xx1:Benefit_Pre_Relocation_Trip_Number', 'Q15.5_1_TEXT:Benefit_Pre_Relocation_Trip_Days', 'Q15.6_xx1:Benefit_Pre_Relocation_Trip_Family', 'Q16.2_xx1_1:Benefit_Home_Sale_Flat_Allowance', 'Q16.2_xx1_2:Benefit_Home_Sale_Reimbursement', 'Q16.2_xx1_3:Benefit_Home_Sale_Other', 'Q17.2_xx1:Benefit_Lease_Cancellation_Type', 'Q17.3_xxx1:Benefit_Lease_Cancellation_Months', 'Q18.2_xx1:Benefit_Storage_Type', 'Q18.3_xxx1:Benefit_Storage_Limit', 'Q19.2_xx1:Benefit_Home_Maintenance_Type', 'Q20.2_xx1:Benefit_Duplicate_Housing_Type', 'Q20.3_1_TEXT:Benefit_Duplicate_Housing_Amount', 'Q20.4_1_TEXT:Benefit_Duplicate_Housing_Limit', 'Q21.2_xx1:Benefit_Home_Purchase_Type', 'Q22.2_xx1:Benefit_HHG_Shipping_Type', 'Q22.3_xx1:Benefit_HHG_Shipping_Shipment_Type', 'Q22.4_xx1:Benefit_HHG_Shipping_Limit', 'Q23.2_xx1:Benefit_Pet_Shipping_Type', 'Q23.3_xx1_1:Benefit_Pet_Shipping_Services_Air', 'Q23.3_xx1_2:Benefit_Pet_Shipping_Services_Ground', 'Q23.3_xx1_3:Benefit_Pet_Shipping_Services_Boarding', 'Q23.3_xx1_4:Benefit_Pet_Shipping_Services_Pet_Container', 'Q23.3_xx1_5:Benefit_Pet_Shipping_Services_Other', 'Q24.2_xx1:Benefit_Vehicle_Shipping_Type', 'Q24.3_xx1:Benefit_Vehicle_Shipping_Vehicle_Number', 'Q25.2_xx1:Benefit_Auto_Loss_Type', 'Q25.3_xx1:Benefit_Auto_Loss_Vehicle_Number', 'Q26.2_xx1:Benefit_MRA_Type', 'Q26.3_xxx1:Benefit_MRA_Calculation', 'Q26.4_1_TEXT:Benefit_MRA_Percentage', 'Q26.5_1_TEXT:Benefit_MRA_Months', 'Q26.6_xx1:Benefit_MRA_Origin_Destination', 'Q28.2_xx1:Benefit_Tax_Filing_Duration', 'Q29.2_xx1_1:Benefit_Final_Relocation_Expenses_Airfare', 'Q29.2_xx1_2:Benefit_Final_Relocation_Expenses_Ground_Transpo', 'Q29.2_xx1_3:Benefit_Final_Relocation_Expenses_Meals', 'Q29.2_xx1_4:Benefit_Final_Relocation_Expenses_Miscellaneous', 'Q30.2_xx1:Benefit_Temporary_Living_Type', 'Q30.3_xxx1_1:Benefit_Temporary_Living_Expenses_Ground', 'Q30.3_xxx1_2:Benefit_Temporary_Living_Expenses_Accomodation', 'Q30.3_xxx1_3:Benefit_Temporary_Living_Expenses_Meals']
Number of rows: 1866

Table: benchmarking_data_part5b
Columns (54): ['record_id', 'Q30.3_xxx1_4:Benefit_Temporary_Living_Expenses_Miscellaneous', 'Q30.3_xxx1_5:Benefit_Temporary_Living_Expenses_Other', 'Q30.4_1_TEXT:Benefit_Temporary_Living_Duration', 'Q30.5_xx1:Benefit_Temporary_Living_Origin_Destination', 'Q30.6_xx1:Benefit_Temporary_Living_Origin_Destination_Split', 'Q30.7_xx1:Benefit_Temporary_Living_Return_Trips', 'Q31.2_xx1:Benefit_Destination_Services_Type', 'Q32.2_xx1:Benefit_Language_Type', 'Q32.3_xx1:Benefit_Language_Limit', 'Q32.4_xx1:Benefit_Language_Family_Eligibility', 'Q33.2_xx1:Benefit_Cultural_Type', 'Q33.3_xx1:Benefit_Cultural_Family_Eligibility', 'Q34.2_xx1:Benefit_COLA_Type', 'Q34.3_xx1:Benefit_COLA_Price_Level', 'Q35.2_xx1:Benefit_Mobility_Premium_Duration', 'Q35.3_xx1:Benefit_Mobility_Premium_Calculation', 'Q35.4_1_TEXT:Benefit_Mobility_Premium_Percentage', 'Q35.5_1_TEXT:Benefit_Mobility_Premium_Amount', 'Q36.2_xx1:Benefit_Hardship_Duration', 'Q36.3_xx1:Benefit_Hardship_Calculation_Type', 'Q37.2_xx1:Benefit_Danger_Pay_Duration', 'Q37.3_xx1:Benefit_Danger_Pay_Calculation_Type', 'Q38.2_xx1_1:Benefit_Home_Leave_Expenses_Airfare', 'Q38.2_xx1_2:Benefit_Home_Leave_Expenses_Ground', 'Q38.2_xx1_3:Benefit_Home_Leave_Expenses_Meals', 'Q38.2_xx1_4:Benefit_Home_Leave_Expenses_Miscellaneous', 'Q38.2_xx1_5:Benefit_Home_Leave_Expenses_Other', 'Q38.3_xxx1:Benefit_Home_Leave_Airfare_Type', 'Q38.4_xx1:Benefit_Home_Leave_Duration', 'Q38.5_xx1:Benefit_Home_Leave_Home_Requirement', 'Q38.6_xx1:Benefit_Home_Leave_PTO', 'Q39.2_xx1:Benefit_Host_Transportation_Type', 'Q40.2_xx1:Benefit_Host_Housing_Type', 'Q40.3_xxx1:Benefit_Host_Housing_House_Type', 'Q40.4_xx1:Benefit_Host_Housing_Employee_Contribution', 'Q42.2_xx1:Benefit_Spousal_Type', 'Q42.3_1_TEXT:Benefit_Spousal_Amount', 'Q42.4_1_TEXT:Benefit_Spousal_Limit', 'Q43.2_xx1:Benefit_Child_Care_Type', 'Q44.2_xx1_1:Benefit_Education_Grade_Preschool', 'Q44.2_xx1_2:Benefit_Education_Grade_Kindergarten', 'Q44.2_xx1_3:Benefit_Education_Grade_Primary', 'Q44.2_xx1_4:Benefit_Education_Grade_Secondary', 'Q44.2_xx1_5:Benefit_Education_Grade_College', 'Q44.3_xx1:Benefit_Education_Full_Tuition', 'Q44.4_xx1:Benefit_Education_Additional Fees', 'Q44.5_xx1_1:Benefit_Education_No_Quality_Private_Tutors', 'Q44.5_xx1_2:Benefit_Education_No_Quality_Boarding_School', 'Q44.5_xx1_3:Benefit_Education_No_Quality_Company_School', 'Q44.5_xx1_4:Benefit_Education_No_Quality_Home_School', 'Q44.5_xx1_5:Benefit_Education_No_Quality_Other', 'Q44.5_xx1_6:Benefit_Education_No_Quality_Not_Encountered', 'Q44.5_xx1_7:Benefit_Education_No_Quality_No_Assistance']
Number of rows: 1866

Table: compensation_data
Columns (5): ['job_level', 'currency', 'base_pay', 'price_date', 'location_codes']
Number of rows: 1320

Table: cost_estimate_data

In [4]:
import mysql.connector

conn = mysql.connector.connect(
    host="studentdb.crsqkeh7g4o2.us-east-2.rds.amazonaws.com",
    user="living_wage",
    password="LivingWage123!",
    database="giq_data",
    port=3306,
    charset="utf8mb4",
    collation="utf8mb4_unicode_ci"
)

cursor = conn.cursor()
cursor.execute("SHOW TABLES;")
tables = cursor.fetchall()

for (table_name,) in tables:
    print(f"\nTable: {table_name}")
    
    # Get column names
    cursor.execute(f"DESCRIBE {table_name};")
    columns = [col[0] for col in cursor.fetchall()]
    
    # Build query to count NULLs
    null_checks = ", ".join(
        [f"SUM(CASE WHEN `{col}` IS NULL THEN 1 ELSE 0 END) AS `{col}_nulls`" for col in columns]
    )
    query = f"SELECT {null_checks} FROM `{table_name}`;"
    
    cursor.execute(query)
    null_counts = cursor.fetchone()
    
    # Print nicely
    for col, null_count in zip(columns, null_counts):
        print(f"{col}: {null_count} nulls")

cursor.close()
conn.close()

Table: benchmarking_data_part1
record_id: 0 nulls
Unnamed: 0: 0 nulls
DummyCompany:Company_Name: 0 nulls
Q2.2:Company_Headquarters: 0 nulls
Q2.3:Respondent_Location: 0 nulls
Q2.4:Company_Revenue: 0 nulls
Q2.5:Company_Employees: 0 nulls
Q2.6:Industry: 0 nulls
Q5.2:Number_of_Program_Policies: 0 nulls

Table: benchmarking_data_part2
record_id: 0 nulls
Q5.3_1_TEXT:Policy_Name: 0 nulls
Q210_x1:Policy_Category_2: 0 nulls
Q245_xx1:Domestic_Country: 0 nulls
Q247_xx1:Internship_Country: 0 nulls
Q5.5_x1_1:Policy_Type_Long_Term: 0 nulls
Q5.5_x1_3:Policy_Type_Short_Term: 0 nulls
Q5.5_x1_4:Policy_Type_Permanent: 0 nulls
Q5.5_x1_5:Policy_Type_Local_Plus: 0 nulls
Q5.5_x1_6:Policy_Type_Talent_Development: 0 nulls
Q5.5_x1_7:Policy_Type_Repeat_Transferees: 0 nulls
Q5.5_x1_8:Policy_Type_Commuter: 0 nulls
Q5.5_x1_9:Policy_Type_Rotational: 0 nulls
Q5.5_x1_10:Policy_Type_Intra_Regional: 0 nulls
Q5.5_x1_11:Policy_Type_Project_Based: 0 nulls
Q5.5_x1_13:Policy_Type_Compliance: 0 nulls
Q5.5_x1_14:Policy_Type_Business_Travel: 0 nulls
Q5.5_x1_15:Policy_Type_Extended_Business_Travel: 0 nulls
Q5.5_x1_16:Policy_Type_Internship: 0 nulls
Q5.5_x1_17:Policy_Type_Other: 0 nulls
Q5.6_1_TEXT:Assignment_Length: 0 nulls
Q5.7_x1_1:Region_All: 0 nulls
Q5.7_x1_2:Region_NA: 0 nulls
Q5.7_x1_3:Region_Latin America: 0 nulls
Q5.7_x1_4:Region_Asia_Pacific: 0 nulls
Q5.7_x1_5:Region_Europe: 0 nulls
Q5.7_x1_6:Region_Middle_East: 0 nulls
Q5.7_x1_7:Region_Africa: 0 nulls
Q5.7_x1_8:Region_Other: 0 nulls
Q5.10#1_x1_1:Policy_Segment_Entry_Junior: 0 nulls
Q5.10#1_x1_2:Policy_Segment_Mid_Career: 0 nulls
Q5.10#1_x1_3:Policy_Segment_Managerial: 0 nulls
Q5.10#1_x1_4:Policy_Segment_Executive: 0 nulls
Q5.10#2_x1_1:Policy_Segment_Blue_Collar: 0 nulls
Q5.10#2_x1_2:Policy_Segment_Professional: 0 nulls
Q5.10#3_x1_1:Policy_Segment_Voluntary: 0 nulls
Q5.10#3_x1_2:Policy_Segment_Company_Requested: 0 nulls
Q5.10#4_x1_1_TEXT:Policy_Segment_Minimum_Experience: 0 nulls
Q5.10#4_x1_2_TEXT:Policy_Segment_Maximum_Experience: 0 nulls
Q5.10#5_x1_1:Policy_Segment_New_Hire: 0 nulls
Q5.10#5_x1_2:Policy_Segment_Current_Employee: 0 nulls
Q5.10#5_x1_3:Policy_Segment_Contractor: 0 nulls
Q5.10#6_x1_1:Policy_Segment_Homeowner: 0 nulls
Q5.10#6_x1_2:Policy_Segment_Renter: 0 nulls
Q241:Salary_Structure: 0 nulls
Q7.2_x1:Compensation_Benefits_Location_Tie: 0 nulls
Q7.3_xx1_1:Compensation_Determination_Local_Salary_Data: 0 nulls
Q7.3_xx1_2:Compensation_Determination_Salary_Comparison: 0 nulls
Q7.3_xx1_3:Compensation_Determination_Currency_Conversion: 0 nulls
Q7.3_xx1_4:Compensation_Determination_Case_By_Case: 0 nulls
Q7.3_xx1_5:Compensation_Determination_Other: 0 nulls
Q7.4_xx1:Compensation_Delivery: 0 nulls
Q7.5:Compensation_Currency_Protection: 0 nulls
Q8.2_x1:Taxation_Approach: 0 nulls
Q233_1:Repayment_Agreements: 0 nulls
Q234_1:Repayment_Agreements_Details: 0 nulls
Q237_1:Repayment_Agreements_Proration: 0 nulls
Q238_1:Repayment_Agreements_Enforcement: 0 nulls
Q10.2_x1:Accompanied_Relocations: 0 nulls
Q10.3_xx1_1:Accompanied_Relocations_Spouse: 0 nulls
Q10.3_xx1_2:Accompanied_Relocations_Children: 0 nulls
Q10.3_xx1_3:Accompanied_Relocations_Other: 0 nulls

Table: benchmarking_data_part3
record_id: 0 nulls
Q11.1#1_x1:Benefit_Pre_Relocation_Trip: 0 nulls
Q11.1#2_x1:Benefit_Home_Sale: 0 nulls
Q11.1#3_x1:Benefit_Lease_Cancellation: 0 nulls
Q11.1#4_x1:Benefit_Storage: 0 nulls
Q11.1#5_x1:Benefit_Home_Maintenance: 0 nulls
Q11.1#6_x1:Benefit_Duplicate_Housing: 0 nulls
Q11.1#7_x1:Benefit_Home_Purchase: 0 nulls
Q11.1#8_x1:Benefit_HHG_Shipping: 0 nulls
Q11.1#9_x1:Benefit_Pet_Shipping: 0 nulls
Q11.1#10_x1:Benefit_Vehicle_Shipping: 0 nulls
Q11.1#11_x1:Benefit_Auto_Loss: 0 nulls
Q11.2#1_x1:Benefit_MRA: 0 nulls
Q11.2#2_x1:Benefit_Tax_Briefing: 0 nulls
Q11.2#3_x1:Benefit_Tax_Filing: 0 nulls
Q11.2#4_x1:Benefit_Final_Relocation: 0 nulls
Q11.2#5_x1:Benefit_Temporary_Living: 0 nulls
Q11.2#6_x1:Benefit_Destination_Services: 0 nulls
Q11.2#7_x1:Benefit_Language: 0 nulls
Q11.2#8_x1:Benefit_Cultural: 0 nulls
Q11.2#9_x1:Benefit_COLA: 0 nulls
Q11.2#10_x1:Benefit_Immigration: 0 nulls
Q11.3#1_x1:Benefit_Mobility_Premium: 0 nulls
Q11.3#2_x1:Benefit_Hardship: 0 nulls
Q11.3#3_x1:Benefit_Danger_Pay: 0 nulls
Q11.3#4_x1:Benefit_Home_Leave: 0 nulls
Q11.3#5_x1:Benefit_Host_Transportation: 0 nulls
Q11.3#6_x1:Benefit_Host_Housing: 0 nulls
Q11.3#7_x1:Benefit_Appliance: 0 nulls
Q11.3#8_x1:Benefit_Spousal: 0 nulls
Q11.3#9_x1:Benefit_Child_Care: 0 nulls
Q11.3#10_x1:Benefit_Education: 0 nulls

Table: benchmarking_data_part4
record_id: 0 nulls
Q12.2#1_xx1:Benefit_Pre_Relocation_Trip_Core_Flex: 0 nulls
Q12.2#2_xx1_1:Benefit_Pre_Relocation_Trip_Lump_Sum: 0 nulls
Q12.3_xxx1:Benefit_Pre_Relocation_Trip_Flexibility_Type: 0 nulls
Q12.4#1_xx1:Benefit_Home_Sale_Core_Flex: 0 nulls
Q12.4#2_xx1_1:Benefit_Home_Sale_Lump_Sum: 0 nulls
Q12.5_xxx1:Benefit_Home_Sale_Flexibility_Type: 0 nulls
Q12.6#1_xx1:Benefit_Lease_Cancellation_Core_Flex: 0 nulls
Q12.6#2_xx1_1:Benefit_Lease_Cancellation_Lump_Sum: 0 nulls
Q12.7_xxx1:Benefit_Lease_Cancellation_Flexibility_Type: 0 nulls
Q12.8#1_xx1:Benefit_Storage_Core_Flex: 0 nulls
Q12.8#2_xx1_1:Benefit_Storage_Lump_Sum: 0 nulls
Q12.9_xxx1:Benefit_Storage_Flexibility_Type: 0 nulls
Q12.10#1_xx1:Benefit_Home_Maintenance_Core_Flex: 0 nulls
Q12.10#2_xx1_1:Benefit_Home_Maintenance_Lump_Sum: 0 nulls
Q12.11_xxx1:Benefit_Home_Maintenance_Flexibility_Type: 0 nulls
Q12.12#1_xx1:Benefit_Duplicate_Housing_Core_Flex: 0 nulls
Q12.12#2_xx1_1:Benefit_Duplicate_Housing_Lump_Sum: 0 nulls
Q12.13_xxx1:Benefit_Duplicate_Housing_Flexibility_Type: 0 nulls
Q12.14#1_xx1:Benefit_Home_Purchase_Core_Flex: 0 nulls
Q12.14#2_xx1_1:Benefit_Home_Purchase_Lump_Sum: 0 nulls
Q12.15_xxx1:Benefit_Home_Purchase_Flexibility_Type: 0 nulls
Q12.16#1_xx1:Benefit_HHG_Shipping_Core_Flex: 0 nulls
Q12.16#2_xx1_1:Benefit_HHG_Shipping_Lump_Sum: 0 nulls
Q12.17_xxx1:Benefit_HHG_Shipping_Flexibility_Type: 0 nulls
Q12.18#1_xx1:Benefit_Pet_Shipping_Core_Flex: 0 nulls
Q12.18#2_xx1_1:Benefit_Pet_Shipping_Lump_Sum: 0 nulls
Q12.19_xxx1:Benefit_Pet_Shipping_Flexibility_Type: 0 nulls
Q12.20#1_xx1:Benefit_Vehicle_Shipping_Core_Flex: 0 nulls
Q12.20#2_xx1_1:Benefit_Vehicle_Shipping_Lump_Sum: 0 nulls
Q12.21_xxx1:Benefit_Vehicle_Shipping_Flexibility_Type: 0 nulls
Q12.22#1_xx1:Benefit_Auto_Loss_Core_Flex: 0 nulls
Q12.22#2_xx1_1:Benefit_Auto_Loss_Lump_Sum: 0 nulls
Q12.23_xxx1:Benefit_Auto_Loss_Flexibility_Type: 0 nulls
Q13.1#1_xx1:Benefit_MRA_Core_Flex: 0 nulls
Q13.1#2_xx1_1:Benefit_MRA_Lump_Sum: 0 nulls
Q13.2_xxx1:Benefit_MRA_Flexibility_Type: 0 nulls
Q13.3#1_xx1:Benefit_Tax_Briefing_Core_Flex: 0 nulls
Q13.3#2_xx1_1:Benefit_Tax_Briefing_Lump_Sum: 0 nulls
Q13.4_xxx1:Benefit_Tax_Briefing_Flexibility_Type: 0 nulls
Q13.5#1_xx1:Benefit_Tax_Filing_Core_Flex: 0 nulls
Q13.5#2_xx1_1:Benefit_Tax_Filing_Lump_Sum: 0 nulls
Q13.6_xxx1:Benefit_Tax_Filing_Flexibility_Type: 0 nulls
Q223#1_xx1:Benefit_Immigration_Core_Flex: 0 nulls
Q223#2_xx1_1:Benefit_Immigration_Lump_Sum: 0 nulls
Q224_xxx1:Benefit_Immigration_Flexibility_Type: 0 nulls
Q13.7#1_xx1:Benefit_Final_Relocation_Core_Flex: 0 nulls
Q13.7#2_xx1_1:Benefit_Final_Relocation_Lump_Sum: 0 nulls
Q13.8_xxx1:Benefit_Final_Relocation_Flexibility_Type: 0 nulls
Q13.9#1_xx1:Benefit_Temporary_Living_Core_Flex: 0 nulls
Q13.9#2_xx1_1:Benefit_Temporary_Living_Lump_Sum: 0 nulls
Q13.10_xxx1:Benefit_Temporary_Living_Flexibility_Type: 0 nulls
Q13.11#1_xx1:Benefit_Destination_Services_Core_Flex: 0 nulls
Q13.11#2_xx1_1:Benefit_Destination_Services_Lump_Sum: 0 nulls
Q13.12_xxx1:Benefit_Desination_Services_Flexibility_Type: 0 nulls
Q13.13#1_xx1:Benefit_Language_Core_Flex: 0 nulls
Q13.13#2_xx1_1:Benefit_Language_Lump_Sum: 0 nulls
Q13.14_xxx1:Benefit_Language_Flexibility_Type: 0 nulls
Q13.15#1_xx1:Benefit_CulturalCore_Flex: 0 nulls
Q13.15#2_xx1_1:Benefit_Cultural_Lump_Sum: 0 nulls
Q13.16_xxx1:Benefit_Cultural_Flexibility_Type: 0 nulls
Q13.17#1_xx1:Benefit_COLA_Core_Flex: 0 nulls
Q13.17#2_xx1_1:Benefit_COLA_Lump_Sum: 0 nulls
Q13.18_xxx1:Benefit_COLA_Flexibility_Type: 0 nulls
Q14.1#1_xx1:Benefit_Mobility_Premium_Core_Flex: 0 nulls
Q14.1#2_xx1_1:Benefit_Mobility_Premium_Lump_Sum: 0 nulls
Q14.2_xxx1:Benefit_Mobility_Premium_Flexibility_Type: 0 nulls
Q14.3#1_xx1:Benefit_Hardship_Core_Flex: 0 nulls
Q14.3#2_xx1_1:Benefit_Hardship_Lump_Sum: 0 nulls
Q14.4_xxx1:Benefit_Hardship_Flexibility_Type: 0 nulls
Q14.5#1_xx1:Benefit_Danger_Pay_Core_Flex: 0 nulls
Q14.5#2_xx1_1:Benefit_Danger_Pay_Lump_Sum: 0 nulls
Q14.6_xxx1:Benefit_Danger_Pay_Flexibility_Type: 0 nulls
Q14.7#1_xx1:Benefit_Home_Leave_Core_Flex: 0 nulls
Q14.7#2_xx1_1:Benefit_Home_Leave_Lump_Sum: 0 nulls
Q14.8_xxx1:Benefit_Home_Leave_Flexibility_Type: 0 nulls
Q14.9#1_xx1:Benefit_Host_Transportation_Core_Flex: 0 nulls
Q14.9#2_xx1_1:Benefit_Host_Transportation_Lump_Sum: 0 nulls
Q14.10_xxx1:Benefit_Host_Transportation_Flexibility_Type: 0 nulls
Q14.11#1_xx1:Benefit_Host_Housing_Core_Flex: 0 nulls
Q14.11#2_xx1_1:Benefit_Host_Housing_Lump_Sum: 0 nulls
Q14.12_xxx1:Benefit_Host_Housing_Flexibility_Type: 0 nulls
Q14.13#1_xx1:Benefit_Appliance_Core_Flex: 0 nulls
Q14.13#2_xx1_1:Benefit_Appliance_Lump_Sum: 0 nulls
Q14.14_xxx1:Benefit_Appliance_Flexibility_Type: 0 nulls
Q14.15#1_xx1:Benefit_Spousal_Core_Flex: 0 nulls
Q14.15#2_xx1_1:Benefit_Spousal_Lump_Sum: 0 nulls
Q14.16_xxx1:Benefit_Spousal_Flexibility_Type: 0 nulls
Q14.17#1_xx1:Benefit_Child_Care_Core_Flex: 0 nulls
Q14.17#2_xx1_1:Benefit_Child_Care_Lump_Sum: 0 nulls
Q14.18_xxx1:Benefit_Child_Care_Flexibility_Type: 0 nulls
Q14.19#1_xx1:Benefit_Education_Core_Flex: 0 nulls
Q14.19#2_xx1_1:Benefit_Education_Lump_Sum: 0 nulls
Q14.20_xxx1:Benefit_Education_Flexibility_Type: 0 nulls

Table: benchmarking_data_part5a
record_id: 0 nulls
Q15.2_xx1_1:Benefit_Pre_Relocation_Trip_Expectation_Home_Fin: 0 nulls
Q15.2_xx1_2:Benefit_Pre_Relocation_Trip_Expectation_School_F: 0 nulls
Q15.2_xx1_3:Benefit_Pre_Relocation_Trip_Expectation_Office_V: 0 nulls
Q15.2_xx1_4:Benefit_Pre_Relocation_Trip_Expectation_Administ: 0 nulls
Q15.2_xx1_5:Benefit_Pre_Relocation_Trip_Expectation_Other: 0 nulls
Q15.3_xx1_1:Benefit_Pre_Relocation_Trip_Expenses_Airfare: 0 nulls
Q15.3_xx1_2:Benefit_Pre_Relocation_Trip_Expenses_Ground_Tran: 0 nulls
Q15.3_xx1_3:Benefit_Pre_Relocation_Trip_Expenses_Housing: 0 nulls
Q15.3_xx1_4:Benefit_Pre_Relocation_Trip_Expenses_City_Tour: 0 nulls
Q15.3_xx1_5:Benefit_Pre_Relocation_Trip_Expenses_Meals: 0 nulls
Q15.3_xx1_6:Benefit_Pre_Relocation_Trip_Expenses_Incidentals: 0 nulls
Q15.4_xx1:Benefit_Pre_Relocation_Trip_Number: 0 nulls
Q15.5_1_TEXT:Benefit_Pre_Relocation_Trip_Days: 0 nulls
Q15.6_xx1:Benefit_Pre_Relocation_Trip_Family: 0 nulls
Q16.2_xx1_1:Benefit_Home_Sale_Flat_Allowance: 0 nulls
Q16.2_xx1_2:Benefit_Home_Sale_Reimbursement: 0 nulls
Q16.2_xx1_3:Benefit_Home_Sale_Other: 0 nulls
Q17.2_xx1:Benefit_Lease_Cancellation_Type: 0 nulls
Q17.3_xxx1:Benefit_Lease_Cancellation_Months: 0 nulls
Q18.2_xx1:Benefit_Storage_Type: 0 nulls
Q18.3_xxx1:Benefit_Storage_Limit: 0 nulls
Q19.2_xx1:Benefit_Home_Maintenance_Type: 0 nulls
Q20.2_xx1:Benefit_Duplicate_Housing_Type: 0 nulls
Q20.3_1_TEXT:Benefit_Duplicate_Housing_Amount: 0 nulls
Q20.4_1_TEXT:Benefit_Duplicate_Housing_Limit: 0 nulls
Q21.2_xx1:Benefit_Home_Purchase_Type: 0 nulls
Q22.2_xx1:Benefit_HHG_Shipping_Type: 0 nulls
Q22.3_xx1:Benefit_HHG_Shipping_Shipment_Type: 0 nulls
Q22.4_xx1:Benefit_HHG_Shipping_Limit: 0 nulls
Q23.2_xx1:Benefit_Pet_Shipping_Type: 0 nulls
Q23.3_xx1_1:Benefit_Pet_Shipping_Services_Air: 0 nulls
Q23.3_xx1_2:Benefit_Pet_Shipping_Services_Ground: 0 nulls
Q23.3_xx1_3:Benefit_Pet_Shipping_Services_Boarding: 0 nulls
Q23.3_xx1_4:Benefit_Pet_Shipping_Services_Pet_Container: 0 nulls
Q23.3_xx1_5:Benefit_Pet_Shipping_Services_Other: 0 nulls
Q24.2_xx1:Benefit_Vehicle_Shipping_Type: 0 nulls
Q24.3_xx1:Benefit_Vehicle_Shipping_Vehicle_Number: 0 nulls
Q25.2_xx1:Benefit_Auto_Loss_Type: 0 nulls
Q25.3_xx1:Benefit_Auto_Loss_Vehicle_Number: 0 nulls
Q26.2_xx1:Benefit_MRA_Type: 0 nulls
Q26.3_xxx1:Benefit_MRA_Calculation: 0 nulls
Q26.4_1_TEXT:Benefit_MRA_Percentage: 0 nulls
Q26.5_1_TEXT:Benefit_MRA_Months: 0 nulls
Q26.6_xx1:Benefit_MRA_Origin_Destination: 0 nulls
Q28.2_xx1:Benefit_Tax_Filing_Duration: 0 nulls
Q29.2_xx1_1:Benefit_Final_Relocation_Expenses_Airfare: 0 nulls
Q29.2_xx1_2:Benefit_Final_Relocation_Expenses_Ground_Transpo: 0 nulls
Q29.2_xx1_3:Benefit_Final_Relocation_Expenses_Meals: 0 nulls
Q29.2_xx1_4:Benefit_Final_Relocation_Expenses_Miscellaneous: 0 nulls
Q30.2_xx1:Benefit_Temporary_Living_Type: 0 nulls
Q30.3_xxx1_1:Benefit_Temporary_Living_Expenses_Ground: 0 nulls
Q30.3_xxx1_2:Benefit_Temporary_Living_Expenses_Accomodation: 0 nulls
Q30.3_xxx1_3:Benefit_Temporary_Living_Expenses_Meals: 0 nulls

Table: benchmarking_data_part5b
record_id: 0 nulls
Q30.3_xxx1_4:Benefit_Temporary_Living_Expenses_Miscellaneous: 0 nulls
Q30.3_xxx1_5:Benefit_Temporary_Living_Expenses_Other: 0 nulls
Q30.4_1_TEXT:Benefit_Temporary_Living_Duration: 0 nulls
Q30.5_xx1:Benefit_Temporary_Living_Origin_Destination: 0 nulls
Q30.6_xx1:Benefit_Temporary_Living_Origin_Destination_Split: 0 nulls
Q30.7_xx1:Benefit_Temporary_Living_Return_Trips: 0 nulls
Q31.2_xx1:Benefit_Destination_Services_Type: 0 nulls
Q32.2_xx1:Benefit_Language_Type: 0 nulls
Q32.3_xx1:Benefit_Language_Limit: 0 nulls
Q32.4_xx1:Benefit_Language_Family_Eligibility: 0 nulls
Q33.2_xx1:Benefit_Cultural_Type: 0 nulls
Q33.3_xx1:Benefit_Cultural_Family_Eligibility: 0 nulls
Q34.2_xx1:Benefit_COLA_Type: 0 nulls
Q34.3_xx1:Benefit_COLA_Price_Level: 0 nulls
Q35.2_xx1:Benefit_Mobility_Premium_Duration: 0 nulls
Q35.3_xx1:Benefit_Mobility_Premium_Calculation: 0 nulls
Q35.4_1_TEXT:Benefit_Mobility_Premium_Percentage: 0 nulls
Q35.5_1_TEXT:Benefit_Mobility_Premium_Amount: 0 nulls
Q36.2_xx1:Benefit_Hardship_Duration: 0 nulls
Q36.3_xx1:Benefit_Hardship_Calculation_Type: 0 nulls
Q37.2_xx1:Benefit_Danger_Pay_Duration: 0 nulls
Q37.3_xx1:Benefit_Danger_Pay_Calculation_Type: 0 nulls
Q38.2_xx1_1:Benefit_Home_Leave_Expenses_Airfare: 0 nulls
Q38.2_xx1_2:Benefit_Home_Leave_Expenses_Ground: 0 nulls
Q38.2_xx1_3:Benefit_Home_Leave_Expenses_Meals: 0 nulls
Q38.2_xx1_4:Benefit_Home_Leave_Expenses_Miscellaneous: 0 nulls
Q38.2_xx1_5:Benefit_Home_Leave_Expenses_Other: 0 nulls
Q38.3_xxx1:Benefit_Home_Leave_Airfare_Type: 0 nulls
Q38.4_xx1:Benefit_Home_Leave_Duration: 0 nulls
Q38.5_xx1:Benefit_Home_Leave_Home_Requirement: 0 nulls
Q38.6_xx1:Benefit_Home_Leave_PTO: 0 nulls
Q39.2_xx1:Benefit_Host_Transportation_Type: 0 nulls
Q40.2_xx1:Benefit_Host_Housing_Type: 0 nulls
Q40.3_xxx1:Benefit_Host_Housing_House_Type: 0 nulls
Q40.4_xx1:Benefit_Host_Housing_Employee_Contribution: 0 nulls
Q42.2_xx1:Benefit_Spousal_Type: 0 nulls
Q42.3_1_TEXT:Benefit_Spousal_Amount: 0 nulls
Q42.4_1_TEXT:Benefit_Spousal_Limit: 0 nulls
Q43.2_xx1:Benefit_Child_Care_Type: 0 nulls
Q44.2_xx1_1:Benefit_Education_Grade_Preschool: 0 nulls
Q44.2_xx1_2:Benefit_Education_Grade_Kindergarten: 0 nulls
Q44.2_xx1_3:Benefit_Education_Grade_Primary: 0 nulls
Q44.2_xx1_4:Benefit_Education_Grade_Secondary: 0 nulls
Q44.2_xx1_5:Benefit_Education_Grade_College: 0 nulls
Q44.3_xx1:Benefit_Education_Full_Tuition: 0 nulls
Q44.4_xx1:Benefit_Education_Additional Fees: 0 nulls
Q44.5_xx1_1:Benefit_Education_No_Quality_Private_Tutors: 0 nulls
Q44.5_xx1_2:Benefit_Education_No_Quality_Boarding_School: 0 nulls
Q44.5_xx1_3:Benefit_Education_No_Quality_Company_School: 0 nulls
Q44.5_xx1_4:Benefit_Education_No_Quality_Home_School: 0 nulls
Q44.5_xx1_5:Benefit_Education_No_Quality_Other: 0 nulls
Q44.5_xx1_6:Benefit_Education_No_Quality_Not_Encountered: 0 nulls
Q44.5_xx1_7:Benefit_Education_No_Quality_No_Assistance: 0 nulls

Table: compensation_data
job_level: 0 nulls
currency: 0 nulls
base_pay: 0 nulls
price_date: 0 nulls
location_codes: 0 nulls

Table: cost_estimate_data
record_id: 0 nulls
Request_Number: 0 nulls
Scenario: 0 nulls
Origin: 0 nulls
Destination: 0 nulls
Income: 0 nulls
Adults: 0 nulls
Children: 0 nulls
API_Result: 0 nulls
status: 0 nulls
calculation_name: 0 nulls
estimate_type: 0 nulls
origin_location: 0 nulls
destination_location: 0 nulls
origin_currency: 0 nulls
destination_currency: 0 nulls
report_currency: 0 nulls
calculation_on: 0 nulls
data_calculation_date: 0 nulls
assignment_start_date: 0 nulls
assignment_end_date: 0 nulls
exchange_rate_data: 0 nulls
exchange_rate_dates: 0 nulls
exchange_rate: 0 nulls
number_of_adults_origin: 0 nulls
number_of_child_origin: 0 nulls
number_of_adults_destination: 0 nulls
number_of_child_destination: 0 nulls
annual_cost_inflation: 0 nulls
salary_and_compensation.year1.salary: 0 nulls
salary_and_compensation.year1.additional_compensation: 0 nulls
salary_and_compensation.year1.total: 0 nulls
salary_and_compensation.year2.salary: 0 nulls
salary_and_compensation.year2.additional_compensation: 0 nulls
salary_and_compensation.year2.total: 0 nulls
salary_and_compensation.year3.salary: 0 nulls
salary_and_compensation.year3.additional_compensation: 0 nulls
salary_and_compensation.year3.total: 0 nulls
salary_and_compensation.year4.salary: 0 nulls
salary_and_compensation.year4.additional_compensation: 0 nulls
salary_and_compensation.year4.total: 0 nulls
salary_and_compensation.year5.salary: 0 nulls
salary_and_compensation.year5.additional_compensation: 0 nulls
salary_and_compensation.year5.total: 0 nulls
pre_departure_cost.year1.pre_assignment_trip: 996 nulls
pre_departure_cost.year1.immigration_legal: 0 nulls
pre_departure_cost.year1.destination_services: 0 nulls
pre_departure_cost.year1.misellaneous_relocation_allowance: 0 nulls
pre_departure_cost.year1.departure_flight: 996 nulls
pre_departure_cost.year1.final_move_per_diem: 0 nulls
pre_departure_cost.year1.final_move_vehicle: 0 nulls
pre_departure_cost.year1.final_move_temporary_living: 0 nulls
pre_departure_cost.year1.pet_shipment: 0 nulls
pre_departure_cost.year1.car_shipment: 0 nulls
pre_departure_cost.year1.household_goods_shipment_land_sea: 0 nulls
pre_departure_cost.year1.household_goods_shipment_air: 0 nulls
pre_departure_cost.year1.additional_benefit1: 0 nulls
pre_departure_cost.year1.total: 0 nulls
pre_departure_cost.year2.pre_assignment_trip: 62484 nulls
pre_departure_cost.year2.immigration_legal: 62484 nulls
pre_departure_cost.year2.destination_services: 62484 nulls
pre_departure_cost.year2.misellaneous_relocation_allowance: 62484 nulls
pre_departure_cost.year2.departure_flight: 62484 nulls
pre_departure_cost.year2.final_move_per_diem: 62484 nulls
pre_departure_cost.year2.final_move_vehicle: 62484 nulls
pre_departure_cost.year2.final_move_temporary_living: 62484 nulls
pre_departure_cost.year2.pet_shipment: 62484 nulls
pre_departure_cost.year2.car_shipment: 62484 nulls
pre_departure_cost.year2.household_goods_shipment_land_sea: 62484 nulls
pre_departure_cost.year2.household_goods_shipment_air: 62484 nulls
pre_departure_cost.year2.additional_benefit1: 0 nulls
pre_departure_cost.year2.total: 0 nulls
pre_departure_cost.year3.pre_assignment_trip: 62484 nulls
pre_departure_cost.year3.immigration_legal: 62484 nulls
pre_departure_cost.year3.destination_services: 62484 nulls
pre_departure_cost.year3.misellaneous_relocation_allowance: 62484 nulls
pre_departure_cost.year3.departure_flight: 62484 nulls
pre_departure_cost.year3.final_move_per_diem: 62484 nulls
pre_departure_cost.year3.final_move_vehicle: 62484 nulls
pre_departure_cost.year3.final_move_temporary_living: 62484 nulls
pre_departure_cost.year3.pet_shipment: 62484 nulls
pre_departure_cost.year3.car_shipment: 62484 nulls
pre_departure_cost.year3.household_goods_shipment_land_sea: 62484 nulls
pre_departure_cost.year3.household_goods_shipment_air: 62484 nulls
pre_departure_cost.year3.additional_benefit1: 0 nulls
pre_departure_cost.year3.total: 0 nulls
pre_departure_cost.year4.pre_assignment_trip: 62484 nulls
pre_departure_cost.year4.immigration_legal: 62484 nulls
pre_departure_cost.year4.destination_services: 62484 nulls
pre_departure_cost.year4.misellaneous_relocation_allowance: 62484 nulls
pre_departure_cost.year4.departure_flight: 62484 nulls
pre_departure_cost.year4.final_move_per_diem: 62484 nulls
pre_departure_cost.year4.final_move_vehicle: 62484 nulls

In [5]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="studentdb.crsqkeh7g4o2.us-east-2.rds.amazonaws.com",
    user="living_wage",
    password="LivingWage123!",
    database="giq_data",
    port=3306,
    charset="utf8mb4",
    collation="utf8mb4_unicode_ci"
)

table_name = "benchmarking_data_part4"
cursor = conn.cursor()

cursor.execute(f"SELECT * FROM `{table_name}`;")
rows = cursor.fetchall()

column_names = [i[0] for i in cursor.description]

df = pd.DataFrame(rows, columns=column_names)

na_like_values = ["", "NA", "NaN", "null", "None","na", "nan"]
df.replace(na_like_values, pd.NA, inplace=True)
pd.set_option('display.max_rows', None)    
pd.set_option('display.max_columns', None)  
na_counts = df.isna().sum()
print(na_counts[na_counts > 0])

cursor.close()
conn.close()

Q12.2#1_xx1:Benefit_Pre_Relocation_Trip_Core_Flex            949
Q12.2#2_xx1_1:Benefit_Pre_Relocation_Trip_Lump_Sum          1744
Q12.3_xxx1:Benefit_Pre_Relocation_Trip_Flexibility_Type     1560
Q12.4#1_xx1:Benefit_Home_Sale_Core_Flex                     1425
Q12.4#2_xx1_1:Benefit_Home_Sale_Lump_Sum                    1829
Q12.5_xxx1:Benefit_Home_Sale_Flexibility_Type               1725
Q12.6#1_xx1:Benefit_Lease_Cancellation_Core_Flex            1124
Q12.6#2_xx1_1:Benefit_Lease_Cancellation_Lump_Sum           1793
Q12.7_xxx1:Benefit_Lease_Cancellation_Flexibility_Type      1614
Q12.8#1_xx1:Benefit_Storage_Core_Flex                       1139
Q12.8#2_xx1_1:Benefit_Storage_Lump_Sum                      1808
Q12.9_xxx1:Benefit_Storage_Flexibility_Type                 1691
Q12.10#1_xx1:Benefit_Home_Maintenance_Core_Flex             1640
Q12.10#2_xx1_1:Benefit_Home_Maintenance_Lump_Sum            1840
Q12.11_xxx1:Benefit_Home_Maintenance_Flexibility_Type       1787
Q12.12#1_xx1:Benefit_Duplicate_Housing_Core_Flex            1544
Q12.12#2_xx1_1:Benefit_Duplicate_Housing_Lump_Sum           1840
Q12.13_xxx1:Benefit_Duplicate_Housing_Flexibility_Type      1750
Q12.14#1_xx1:Benefit_Home_Purchase_Core_Flex                1453
Q12.14#2_xx1_1:Benefit_Home_Purchase_Lump_Sum               1840
Q12.15_xxx1:Benefit_Home_Purchase_Flexibility_Type          1737
Q12.16#1_xx1:Benefit_HHG_Shipping_Core_Flex                  677
Q12.16#2_xx1_1:Benefit_HHG_Shipping_Lump_Sum                1779
Q12.17_xxx1:Benefit_HHG_Shipping_Flexibility_Type           1666
Q12.18#1_xx1:Benefit_Pet_Shipping_Core_Flex                 1427
Q12.18#2_xx1_1:Benefit_Pet_Shipping_Lump_Sum                1788
Q12.19_xxx1:Benefit_Pet_Shipping_Flexibility_Type           1687
Q12.20#1_xx1:Benefit_Vehicle_Shipping_Core_Flex             1395
Q12.20#2_xx1_1:Benefit_Vehicle_Shipping_Lump_Sum            1828
Q12.21_xxx1:Benefit_Vehicle_Shipping_Flexibility_Type       1755
Q12.22#1_xx1:Benefit_Auto_Loss_Core_Flex                    1507
Q12.22#2_xx1_1:Benefit_Auto_Loss_Lump_Sum                   1806
Q12.23_xxx1:Benefit_Auto_Loss_Flexibility_Type              1724
Q13.1#1_xx1:Benefit_MRA_Core_Flex                            521
Q13.1#2_xx1_1:Benefit_MRA_Lump_Sum                          1307
Q13.2_xxx1:Benefit_MRA_Flexibility_Type                     1633
Q13.3#1_xx1:Benefit_Tax_Briefing_Core_Flex                   838
Q13.3#2_xx1_1:Benefit_Tax_Briefing_Lump_Sum                 1837
Q13.4_xxx1:Benefit_Tax_Briefing_Flexibility_Type            1810
Q13.5#1_xx1:Benefit_Tax_Filing_Core_Flex                     888
Q13.5#2_xx1_1:Benefit_Tax_Filing_Lump_Sum                   1845
Q13.6_xxx1:Benefit_Tax_Filing_Flexibility_Type              1801
Q223#1_xx1:Benefit_Immigration_Core_Flex                    1424
Q223#2_xx1_1:Benefit_Immigration_Lump_Sum                   1847
Q224_xxx1:Benefit_Immigration_Flexibility_Type              1846
Q13.7#1_xx1:Benefit_Final_Relocation_Core_Flex               400
Q13.7#2_xx1_1:Benefit_Final_Relocation_Lump_Sum             1706
Q13.8_xxx1:Benefit_Final_Relocation_Flexibility_Type        1766
Q13.9#1_xx1:Benefit_Temporary_Living_Core_Flex               517
Q13.9#2_xx1_1:Benefit_Temporary_Living_Lump_Sum             1741
Q13.10_xxx1:Benefit_Temporary_Living_Flexibility_Type       1620
Q13.11#1_xx1:Benefit_Destination_Services_Core_Flex          805
Q13.11#2_xx1_1:Benefit_Destination_Services_Lump_Sum        1839
Q13.12_xxx1:Benefit_Desination_Services_Flexibility_Type    1634
Q13.13#1_xx1:Benefit_Language_Core_Flex                     1217
Q13.13#2_xx1_1:Benefit_Language_Lump_Sum                    1843
Q13.14_xxx1:Benefit_Language_Flexibility_Type               1630
Q13.15#1_xx1:Benefit_CulturalCore_Flex                      1183
Q13.15#2_xx1_1:Benefit_Cultural_Lump_Sum                    1848
Q13.16_xxx1:Benefit_Cultural_Flexibility_Type               1765
Q13.17#1_xx1:Benefit_COLA_Core_Flex                         1230
Q13.17#2_xx1_1:Benefit_COLA_Lump_Sum                        1799
Q13.18_xxx1:Benefit_COLA_Flexibility_Type                   1730
Q14.1#1_xx1:Benefit_Mobility_Premium_Core_Flex              1623
Q14.1#2_xx1_1:Benefit_Mobility_Premium_Lump_Sum             1827
Q14.2_xxx1:Benefit_Mobility_Premium_Flexibility_Type        1794
Q14.3#1_xx1:Benefit_Hardship_Core_Flex                      1482
Q14.3#2_xx1_1:Benefit_Hardship_Lump_Sum                     1819
Q14.4_xxx1:Benefit_Hardship_Flexibility_Type                1774
Q14.5#1_xx1:Benefit_Danger_Pay_Core_Flex                    1712
Q14.5#2_xx1_1:Benefit_Danger_Pay_Lump_Sum                   1852
Q14.6_xxx1:Benefit_Danger_Pay_Flexibility_Type              1815
Q14.7#1_xx1:Benefit_Home_Leave_Core_Flex                    1195
Q14.7#2_xx1_1:Benefit_Home_Leave_Lump_Sum                   1751
Q14.8_xxx1:Benefit_Home_Leave_Flexibility_Type              1767
Q14.9#1_xx1:Benefit_Host_Transportation_Core_Flex           1204
Q14.9#2_xx1_1:Benefit_Host_Transportation_Lump_Sum          1835
Q14.10_xxx1:Benefit_Host_Transportation_Flexibility_Type    1723
Q14.11#1_xx1:Benefit_Host_Housing_Core_Flex                 1069
Q14.11#2_xx1_1:Benefit_Host_Housing_Lump_Sum                1829
Q14.12_xxx1:Benefit_Host_Housing_Flexibility_Type           1778
Q14.13#1_xx1:Benefit_Appliance_Core_Flex                    1686
Q14.13#2_xx1_1:Benefit_Appliance_Lump_Sum                   1830
Q14.14_xxx1:Benefit_Appliance_Flexibility_Type              1819
Q14.15#1_xx1:Benefit_Spousal_Core_Flex                      1289
Q14.15#2_xx1_1:Benefit_Spousal_Lump_Sum                     1811
Q14.16_xxx1:Benefit_Spousal_Flexibility_Type                1673
Q14.17#1_xx1:Benefit_Child_Care_Core_Flex                   1715
Q14.17#2_xx1_1:Benefit_Child_Care_Lump_Sum                  1841
Q14.18_xxx1:Benefit_Child_Care_Flexibility_Type             1801
Q14.19#1_xx1:Benefit_Education_Core_Flex                    1427
Q14.19#2_xx1_1:Benefit_Education_Lump_Sum                   1825
Q14.20_xxx1:Benefit_Education_Flexibility_Type              1735
dtype: int64

In [6]:
import mysql.connector
import pandas as pd

conn = mysql.connector.connect(
    host="studentdb.crsqkeh7g4o2.us-east-2.rds.amazonaws.com",
    user="living_wage",
    password="LivingWage123!",
    database="giq_data",
    port=3306,
    charset="utf8mb4",
    collation="utf8mb4_unicode_ci"
)

tables = [
    'benchmarking_data_part1', 'benchmarking_data_part2', 'benchmarking_data_part3',
    'benchmarking_data_part4', 'benchmarking_data_part5a', 'benchmarking_data_part5b',
    'compensation_data', 'exchange_rates_data', 'expenditure_models_data',
    'gs_codes_data', 'gs_prices_data', 'housing_rental_data', 'location_data'
]

for table in tables:
    query = f"SELECT * FROM {table}"
    df = pd.read_sql(query, con=conn)
    df.to_csv(f"{table}.csv", index=False)

conn.close()

/tmp/ipykernel_713612/1077302534.py:23: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con=conn)

In [7]:
import pandas as pd

prices_path = "./gs_prices_data.csv"
codes_path  = "./gs_codes_data.csv"
location_path = "./location_data.csv"
exchange_rates_path = "./exchange_rates_data.csv"
expenditure_models_path = "./expenditure_models_data.csv"

gs_prices_df = pd.read_csv(prices_path)
gs_codes_df  = pd.read_csv(codes_path)
location_df = pd.read_csv(location_path)
exchange_rates_df = pd.read_csv(exchange_rates_path)
expenditure_models_df = pd.read_csv(expenditure_models_path)

gs_prices_df.columns = gs_prices_df.columns.str.strip()
gs_codes_df.columns  = gs_codes_df.columns.str.strip()
location_df.columns = location_df.columns.str.strip()
exchange_rates_df.columns = exchange_rates_df.columns.str.strip()

gs_prices_enriched = gs_prices_df.merge(
    gs_codes_df, on="Master_Item_Codes", how="outer", validate="m:1"
)


display(gs_prices_enriched.head(10))
gs_prices_enriched.to_csv("./gs_prices_enriched.csv", index=False)

,Location_Codes,Master_Item_Codes,Currency,Countries,Low_Price,Final_Item,Category
0,002-000-0000-0000,001-001-0000,ALL,Albania,748.40,Beef and Veal,Food and Non-Alcoholic beverages
1,003-000-0000-0000,001-001-0000,DZD,Algeria,855.47,Beef and Veal,Food and Non-Alcoholic beverages
2,004-000-0000-0000,001-001-0000,EUR,Andorra,8.13,Beef and Veal,Food and Non-Alcoholic beverages
3,005-000-0000-0000,001-001-0000,AOA,Angola,5056.66,Beef and Veal,Food and Non-Alcoholic beverages
4,007-000-0000-0000,001-001-0000,ARS,Argentina,5165.75,Beef and Veal,Food and Non-Alcoholic beverages
5,008-000-0000-0000,001-001-0000,AMD,Armenia,1630.36,Beef and Veal,Food and Non-Alcoholic beverages
6,009-000-0000-0000,001-001-0000,AUD,Australia,12.18,Beef and Veal,Food and Non-Alcoholic beverages
7,010-000-0000-0000,001-001-0000,EUR,Austria,9.27,Beef and Veal,Food and Non-Alcoholic beverages
8,011-000-0000-0000,001-001-0000,AZN,Azerbaijan,11.99,Beef and Veal,Food and Non-Alcoholic beverages
9,013-000-0000-0000,001-001-0000,BHD,Bahrain,2.17,Beef and Veal,Food and Non-Alcoholic beverages

In [8]:
##found duplicate location code
import pandas as pd

location_df.columns = location_df.columns.str.strip()
gs_prices_enriched.columns = gs_prices_enriched.columns.str.strip()
if "Location_Codes" not in location_df.columns:
    if "location_codes" in location_df.columns:
        location_df = location_df.rename(columns={"location_codes": "Location_Codes"})
    else:
        raise ValueError("location_df lacks Location_Codes column")

dup_keys = (location_df["Location_Codes"]
            .value_counts()
            .loc[lambda s: s > 1]
            .index.tolist())

if dup_keys:

    display(
        location_df[location_df["Location_Codes"].isin(dup_keys)]
        .sort_values(["Location_Codes","Country","City"])
        .head(30)
    )

,Location_Codes,City,Province,Country,City_Province_Country,Country_Codes,Province_Codes,Metropolitan_Codes,ISO_3166_Alpha_2,ISO_3166_Alpha_3,ISO_4217_Currency_Name,ISO_4217_Alphabetic_Codes
72,017-001-0002-0000,Antwerp,Antwerp,Belgium,"Antwerp, Antwerp, Belgium",17,1,2,BE,BEL,Euro,EUR
73,017-001-0002-0000,Ghent,East Flanders,Belgium,"Ghent, East Flanders, Belgium",17,3,3,BE,BEL,Euro,EUR

In [9]:
gs_prices_enriched =  gs_prices_enriched.merge(
    location_df, 
    on="Location_Codes", 
    how="outer", 
    validate="m:m"
)
display(gs_prices_enriched.head(20))

,Location_Codes,Master_Item_Codes,Currency,Countries,Low_Price,Final_Item,Category,City,Province,Country,City_Province_Country,Country_Codes,Province_Codes,Metropolitan_Codes,ISO_3166_Alpha_2,ISO_3166_Alpha_3,ISO_4217_Currency_Name,ISO_4217_Alphabetic_Codes
0,002-000-0000-0000,001-001-0000,ALL,Albania,748.40,Beef and Veal,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,002-000-0000-0000,001-002-0000,ALL,Albania,445.44,Pork,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,002-000-0000-0000,001-003-0000,ALL,Albania,889.76,Lamb,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,002-000-0000-0000,001-004-0000,ALL,Albania,392.78,Chicken,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,002-000-0000-0000,001-005-0000,ALL,Albania,193.20,Cured Meat,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,002-000-0000-0000,001-006-0000,ALL,Albania,367.08,Sausages,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,002-000-0000-0000,001-007-0000,ALL,Albania,586.09,Fish,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,002-000-0000-0000,001-008-0000,ALL,Albania,840.08,Shellfish,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,002-000-0000-0000,001-009-0000,ALL,Albania,203.08,Canned Tuna,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,002-000-0000-0000,001-010-0000,ALL,Albania,216.88,Eggs,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,002-000-0000-0000,001-011-0000,ALL,Albania,522.26,Butter,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,002-000-0000-0000,001-012-0000,ALL,Albania,137.19,Milk,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,002-000-0000-0000,001-013-0000,ALL,Albania,294.72,Cheese,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,002-000-0000-0000,001-014-0000,ALL,Albania,762.68,Cooking Oil,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,002-000-0000-0000,001-015-0000,ALL,Albania,686.87,Sliced Meats,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,002-000-0000-0000,001-016-0000,ALL,Albania,167.96,Canned fish,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,002-000-0000-0000,001-017-0000,ALL,Albania,50.79,Yogurt,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,002-000-0000-0000,001-018-0000,ALL,Albania,289.13,Ice Cream,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,002-000-0000-0000,001-019-0000,ALL,Albania,154.31,Bread,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,002-000-0000-0000,001-020-0000,ALL,Albania,49.23,Sugar,Food and Non-Alcoholic beverages,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
filtered_df = gs_prices_enriched[gs_prices_enriched["Location_Codes"] == "002-011-0001-0000"]

print(len(filtered_df))
display(filtered_df.head(10))

filtered_df = gs_prices_enriched[gs_prices_enriched["Location_Codes"] == "002-007-0002-0000"]

print(len(filtered_df))
display(filtered_df.head(10))

filtered_df = gs_prices_enriched[gs_prices_enriched["Location_Codes"] == "002-002-0006-0000"]

print(len(filtered_df))
display(filtered_df.head(10))

filtered_df = gs_prices_enriched[gs_prices_enriched["Location_Codes"] == "003-023-0003-0000"]

print(len(filtered_df))
display(filtered_df.head(10))

1

,Location_Codes,Master_Item_Codes,Currency,Countries,Low_Price,Final_Item,Category,City,Province,Country,City_Province_Country,Country_Codes,Province_Codes,Metropolitan_Codes,ISO_3166_Alpha_2,ISO_3166_Alpha_3,ISO_4217_Currency_Name,ISO_4217_Alphabetic_Codes
125,002-011-0001-0000,NaN,NaN,NaN,NaN,NaN,NaN,Tirana,Tirana,Albania,"Tirana, Tirana, Albania",2.0,11.0,1.0,AL,ALB,Lek,ALL

1

,Location_Codes,Master_Item_Codes,Currency,Countries,Low_Price,Final_Item,Category,City,Province,Country,City_Province_Country,Country_Codes,Province_Codes,Metropolitan_Codes,ISO_3166_Alpha_2,ISO_3166_Alpha_3,ISO_4217_Currency_Name,ISO_4217_Alphabetic_Codes
122,002-007-0002-0000,NaN,NaN,NaN,NaN,NaN,NaN,Korçë,Korçë,Albania,"Korçë, Korçë, Albania",2.0,7.0,2.0,AL,ALB,Lek,ALL

0

Empty DataFrame
Columns: [Location_Codes, Master_Item_Codes, Currency, Countries, Low_Price, Final_Item, Category, City, Province, Country, City_Province_Country, Country_Codes, Province_Codes, Metropolitan_Codes, ISO_3166_Alpha_2, ISO_3166_Alpha_3, ISO_4217_Currency_Name, ISO_4217_Alphabetic_Codes]
Index: []

1

,Location_Codes,Master_Item_Codes,Currency,Countries,Low_Price,Final_Item,Category,City,Province,Country,City_Province_Country,Country_Codes,Province_Codes,Metropolitan_Codes,ISO_3166_Alpha_2,ISO_3166_Alpha_3,ISO_4217_Currency_Name,ISO_4217_Alphabetic_Codes
250,003-023-0003-0000,NaN,NaN,NaN,NaN,NaN,NaN,Annaba,Annaba,Algeria,"Annaba, Annaba, Algeria",3.0,23.0,3.0,DZ,DZA,Algerian Dinar,DZD

In [11]:
##check duplicate
import pandas as pd

exchange_rates_data = pd.read_csv("exchange_rates_data.csv")
exchange_rates_data.columns = exchange_rates_data.columns.str.strip()

dup_counts = exchange_rates_data["currency"].value_counts()

duplicated_currencies = dup_counts[dup_counts > 1]

print(len(duplicated_currencies))
display(duplicated_currencies.head(20))

172

currency
AED    94
AFN    94
ALL    94
AMD    94
ANG    94
AOA    94
ARS    94
AUD    94
AWG    94
AZN    94
BAM    94
BBD    94
BDT    94
BGN    94
BHD    94
BIF    94
BMD    94
BND    94
BOB    94
BRL    94
Name: count, dtype: int64

In [12]:
exchange_rates_count_by_date = exchange_rates_df.groupby("date").size().reset_index(name="count")

print(len(exchange_rates_count_by_date))
display(exchange_rates_count_by_date.head(69))

94

          date  count
0   2024-01-07    168
1   2024-01-14    168
2   2024-01-21    168
3   2024-01-28    168
4   2024-02-04    168
5   2024-02-11    168
6   2024-02-18    169
7   2024-02-25    169
8   2024-03-03    169
9   2024-03-10    169
10  2024-03-17    170
11  2024-03-24    170
12  2024-03-31    170
13  2024-04-07    170
14  2024-04-14    170
15  2024-04-21    170
16  2024-04-28    170
17  2024-05-05    170
18  2024-05-12    170
19  2024-05-19    170
20  2024-05-26    170
21  2024-06-02    170
22  2024-06-09    170
23  2024-06-16    170
24  2024-06-23    170
25  2024-06-30    170
26  2024-07-07    170
27  2024-07-14    170
28  2024-07-21    170
29  2024-07-28    170
30  2024-08-04    170
31  2024-08-11    170
32  2024-08-18    170
33  2024-08-25    170
34  2024-09-01    170
35  2024-09-08    170
36  2024-09-15    170
37  2024-09-22    170
38  2024-09-29    170
39  2024-10-06    170
40  2024-10-13    170
41  2024-10-20    170
42  2024-10-27    170
43  2024-11-03    170
44  2024-11-10    170
45  2024-11-17    169
46  2024-11-24    169
47  2024-12-01    169
48  2024-12-08    169
49  2024-12-15    169
50  2024-12-22    169
51  2024-12-29    169
52  2025-01-05    169
53  2025-01-12    169
54  2025-01-19    169
55  2025-01-26    169
56  2025-02-02    169
57  2025-02-09    169
58  2025-02-16    169
59  2025-02-23    169
60  2025-03-02    169
61  2025-03-09    169
62  2025-03-16    169
63  2025-03-23    169
64  2025-03-30    169
65  2025-04-06    169
66  2025-04-13    169
67  2025-04-20    169
68  2025-04-27    169

In [13]:
all_df = exchange_rates_df[exchange_rates_df["currency"] == "ALL"]
print(len(all_df))
display(all_df.head(69))

94

      currency   rate        date
2          ALL  95.27  2024-01-07
170        ALL  94.80  2024-01-14
338        ALL  95.14  2024-01-21
506        ALL  95.70  2024-01-28
674        ALL  95.65  2024-02-04
842        ALL  95.77  2024-03-03
1011       ALL  96.51  2024-02-11
1179       ALL  96.39  2024-02-18
1348       ALL  95.74  2024-02-25
1517       ALL  94.91  2024-03-10
1686       ALL  95.06  2024-03-17
1856       ALL  94.62  2024-03-24
2026       ALL  95.15  2024-03-31
2196       ALL  94.43  2024-04-07
2366       ALL  94.85  2024-04-14
2536       ALL  94.81  2024-04-21
2706       ALL  94.24  2024-04-28
2876       ALL  93.33  2024-05-05
3046       ALL  93.25  2024-05-12
3216       ALL  92.15  2024-05-19
3386       ALL  92.50  2024-05-26
3556       ALL  92.77  2024-06-02
3726       ALL  92.77  2024-06-09
3896       ALL  93.77  2024-06-16
4066       ALL  93.64  2024-06-23
4236       ALL  93.61  2024-06-30
4406       ALL  92.38  2024-07-07
4576       ALL  91.97  2024-07-14
4746       ALL  92.09  2024-07-21
4916       ALL  92.50  2024-07-28
5086       ALL  91.70  2024-08-04
5256       ALL  91.56  2024-08-11
5426       ALL  90.51  2024-08-18
5596       ALL  89.47  2024-08-25
5766       ALL  90.12  2024-09-01
5936       ALL  89.82  2024-09-08
6106       ALL  89.68  2024-09-15
6276       ALL  88.80  2024-09-22
6446       ALL  88.25  2024-09-29
6616       ALL  89.94  2024-10-06
6786       ALL  90.17  2024-10-13
6956       ALL  90.72  2024-10-20
7126       ALL  91.26  2024-10-27
7296       ALL  90.36  2024-11-03
7466       ALL  91.57  2024-11-10
7636       ALL  93.03  2024-11-17
7805       ALL  94.20  2024-11-24
7974       ALL  92.86  2024-12-01
8143       ALL  93.05  2024-12-08
8312       ALL  93.41  2024-12-15
8481       ALL  94.36  2024-12-22
8650       ALL  94.15  2024-12-29
8819       ALL  95.09  2025-01-05
8988       ALL  95.77  2025-01-12
9157       ALL  95.34  2025-01-19
9326       ALL  93.68  2025-01-26
9495       ALL  96.18  2025-02-02
9664       ALL  95.62  2025-02-09
9833       ALL  94.30  2025-02-16
10002      ALL  94.60  2025-02-23
10171      ALL  95.45  2025-03-02
10340      ALL  91.68  2025-03-09
10509      ALL  91.05  2025-03-16
10678      ALL  90.83  2025-03-23
10847      ALL  91.28  2025-03-30
11016      ALL  90.43  2025-04-06
11185      ALL  87.54  2025-04-13
11354      ALL  87.27  2025-04-20
11523      ALL  87.10  2025-04-27

In [14]:
compensation_df = pd.read_csv("compensation_data.csv")
expenditure_df = pd.read_csv("expenditure_models_data.csv")
gs_prices_df = pd.read_csv("gs_prices_data.csv")
housing_df = pd.read_csv("housing_rental_data.csv")

for df in [compensation_df, expenditure_df, gs_prices_df, housing_df]:
    df.columns = df.columns.str.strip()

In [15]:
def normalize_location_col(df):
    for col in df.columns:
        if col.lower() == "location_codes" or col.lower() == "location_code":
            if col != "location_codes":
                df = df.rename(columns={col: "location_codes"})
            return df
    raise ValueError("cann't find location_codes column")

compensation_df = normalize_location_col(compensation_df)
expenditure_df = normalize_location_col(expenditure_df)
gs_prices_df = normalize_location_col(gs_prices_df)
housing_df = normalize_location_col(housing_df)

In [16]:
comp_codes = set(compensation_df["location_codes"].dropna().unique())
exp_codes  = set(expenditure_df["location_codes"].dropna().unique())
price_codes = set(gs_prices_df["location_codes"].dropna().unique())
house_codes = set(housing_df["location_codes"].dropna().unique())

print(f"Compensation Data unique codes: {len(comp_codes)}")
print(f"Expenditure Models Data unique codes: {len(exp_codes)}")
print(f"GS Prices Data unique codes: {len(price_codes)}")
print(f"Housing Rental Data unique codes: {len(house_codes)}")

Compensation Data unique codes: 132
Expenditure Models Data unique codes: 131
GS Prices Data unique codes: 130
Housing Rental Data unique codes: 128

In [17]:
common_codes = comp_codes & exp_codes & price_codes & house_codes
print({len(common_codes)})
print(list(common_codes)[:20])

{128}
['158-000-0000-0000', '018-000-0000-0000', '094-000-0000-0000', '180-000-0000-0000', '166-000-0000-0000', '151-000-0000-0000', '003-000-0000-0000', '010-000-0000-0000', '042-000-0000-0000', '173-000-0000-0000', '037-000-0000-0000', '039-000-0000-0000', '088-000-0000-0000', '098-000-0000-0000', '014-000-0000-0000', '067-000-0000-0000', '139-000-0000-0000', '038-000-0000-0000', '184-000-0000-0000', '048-000-0000-0000']

In [18]:
import pandas as pd

expenditure_df = pd.read_csv("expenditure_models_data.csv")
housing_df = pd.read_csv("housing_rental_data.csv")

expenditure_df.columns = expenditure_df.columns.str.strip()
housing_df.columns = housing_df.columns.str.strip()

def normalize_location(df):
    for c in df.columns:
        if c.lower() in ["location_codes", "location_code"]:
            if c != "location_codes":
                df = df.rename(columns={c: "location_codes"})
            return df
    raise ValueError("can't find location_codes column")

expenditure_df = normalize_location(expenditure_df)
housing_df = normalize_location(housing_df)

assert "location_codes" in expenditure_df.columns
assert "location_codes" in housing_df.columns

exp_housing_merged = expenditure_df.merge(
    housing_df,
    on="location_codes",
    how="outer",
    validate="m:m"  
)
print("after join", len(exp_housing_merged))
display(exp_housing_merged.head(10))

after join 438228

,location_codes,currency_x,type,num_of_adult,num_of_child,coefficient_a,coefficient_b,housing_codes,price_type,house_type,bedroom,currency_y,price,utilities
0,002-000-0000-0000,ALL,G&S,2,0,642593.85899,0.36097,001-001-001,Rent,Apartment,1.0,ALL,42296.43,14643.36
1,002-000-0000-0000,ALL,G&S,2,0,642593.85899,0.36097,001-001-002,Rent,Apartment,2.0,ALL,56798.97,17287.25
2,002-000-0000-0000,ALL,G&S,2,0,642593.85899,0.36097,001-001-003,Rent,Apartment,3.0,ALL,77259.56,18987.50
3,002-000-0000-0000,ALL,G&S,2,0,642593.85899,0.36097,001-001-004,Rent,Apartment,4.0,ALL,104424.14,20632.69
4,002-000-0000-0000,ALL,G&S,2,0,642593.85899,0.36097,001-001-005,Rent,Apartment,5.0,ALL,145328.38,22246.87
5,002-000-0000-0000,ALL,G&S,2,0,642593.85899,0.36097,001-001-006,Rent,Apartment,6.0,ALL,230412.05,23830.69
6,002-000-0000-0000,ALL,G&S,2,0,642593.85899,0.36097,001-002-001,Rent,House,1.0,ALL,60967.48,17999.65
7,002-000-0000-0000,ALL,G&S,2,0,642593.85899,0.36097,001-002-002,Rent,House,2.0,ALL,82751.64,20143.42
8,002-000-0000-0000,ALL,G&S,2,0,642593.85899,0.36097,001-002-003,Rent,House,3.0,ALL,112319.40,21821.18
9,002-000-0000-0000,ALL,G&S,2,0,642593.85899,0.36097,001-002-004,Rent,House,4.0,ALL,150215.50,23437.79

In [19]:
exp_housing_merged.to_csv("expenditure_housing_merged.csv", index=False, encoding="utf-8-sig")
exp_housing_merged = pd.read_csv("expenditure_housing_merged.csv")

In [20]:
import pandas as pd

expenditure_df = pd.read_csv("expenditure_models_data.csv")
housing_df = pd.read_csv("housing_rental_data.csv")

expenditure_df.columns = expenditure_df.columns.str.strip()
housing_df.columns = housing_df.columns.str.strip()

# def normalize_location(df):
#     for c in df.columns:
#         if c.lower() in ["location_codes", "location_code"]:
#             if c != "location_codes":
#                 df = df.rename(columns={c: "location_codes"})
#             return df
#     raise ValueError("can't find location_codes column")

# expenditure_df = normalize_location(expenditure_df)
# housing_df = normalize_location(housing_df)

# assert "location_codes" in expenditure_df.columns
# assert "location_codes" in housing_df.columns

expenditure_df_exchange = expenditure_df.merge(
    exchange_rates_data,
    on="currency",
    how="outer",
    validate="m:m"  
)
print("after join", len(expenditure_df_exchange))
display(expenditure_df_exchange.head(10))

after join 340919

,location_codes,currency,type,num_of_adult,num_of_child,coefficient_a,coefficient_b,rate,date
0,191-000-0000-0000,AED,G&S,2.0,0.0,53671.49952,0.31999,3.67,2024-01-07
1,191-000-0000-0000,AED,G&S,2.0,0.0,53671.49952,0.31999,3.67,2024-01-14
2,191-000-0000-0000,AED,G&S,2.0,0.0,53671.49952,0.31999,3.67,2024-01-21
3,191-000-0000-0000,AED,G&S,2.0,0.0,53671.49952,0.31999,3.67,2024-01-28
4,191-000-0000-0000,AED,G&S,2.0,0.0,53671.49952,0.31999,3.67,2024-02-04
5,191-000-0000-0000,AED,G&S,2.0,0.0,53671.49952,0.31999,3.67,2024-03-03
6,191-000-0000-0000,AED,G&S,2.0,0.0,53671.49952,0.31999,3.67,2024-02-11
7,191-000-0000-0000,AED,G&S,2.0,0.0,53671.49952,0.31999,3.67,2024-02-18
8,191-000-0000-0000,AED,G&S,2.0,0.0,53671.49952,0.31999,3.67,2024-02-25
9,191-000-0000-0000,AED,G&S,2.0,0.0,53671.49952,0.31999,3.67,2024-03-10

In [21]:
import pandas as pd

expenditure_df = pd.read_csv("expenditure_models_data.csv")
housing_df = pd.read_csv("housing_rental_data.csv")

expenditure_df.columns = expenditure_df.columns.str.strip()
housing_df.columns = housing_df.columns.str.strip()

housing_df_exchange = housing_df.merge(
    exchange_rates_data,
    on="currency",
    how="outer",
    validate="m:m"  
)
print("after join", len(housing_df_exchange))
display(housing_df_exchange.head(10))

after join 1151865

,location_codes,housing_codes,price_type,house_type,bedroom,currency,price,utilities,rate,date
0,191-000-0000-0000,001-001-001,Rent,Apartment,1.0,AED,3753.31,332.56,3.67,2024-01-07
1,191-000-0000-0000,001-001-001,Rent,Apartment,1.0,AED,3753.31,332.56,3.67,2024-01-14
2,191-000-0000-0000,001-001-001,Rent,Apartment,1.0,AED,3753.31,332.56,3.67,2024-01-21
3,191-000-0000-0000,001-001-001,Rent,Apartment,1.0,AED,3753.31,332.56,3.67,2024-01-28
4,191-000-0000-0000,001-001-001,Rent,Apartment,1.0,AED,3753.31,332.56,3.67,2024-02-04
5,191-000-0000-0000,001-001-001,Rent,Apartment,1.0,AED,3753.31,332.56,3.67,2024-03-03
6,191-000-0000-0000,001-001-001,Rent,Apartment,1.0,AED,3753.31,332.56,3.67,2024-02-11
7,191-000-0000-0000,001-001-001,Rent,Apartment,1.0,AED,3753.31,332.56,3.67,2024-02-18
8,191-000-0000-0000,001-001-001,Rent,Apartment,1.0,AED,3753.31,332.56,3.67,2024-02-25
9,191-000-0000-0000,001-001-001,Rent,Apartment,1.0,AED,3753.31,332.56,3.67,2024-03-10

In [22]:
import pandas as pd
compensation_df = pd.read_csv("compensation_data.csv")

compensation_df.columns = compensation_df.columns.str.strip()

compensation_df_exchange = compensation_df.merge(
    exchange_rates_data,
    on="currency",
    how="outer",
    validate="m:m"  
)
print("after join", len(compensation_df_exchange))
display(compensation_df_exchange.head(10))

after join 126903

,job_level,currency,base_pay,price_date,location_codes,rate,date
0,1.0,AED,39661.9,01/01/2025,191-000-0000-0000,3.67,2024-01-07
1,1.0,AED,39661.9,01/01/2025,191-000-0000-0000,3.67,2024-01-14
2,1.0,AED,39661.9,01/01/2025,191-000-0000-0000,3.67,2024-01-21
3,1.0,AED,39661.9,01/01/2025,191-000-0000-0000,3.67,2024-01-28
4,1.0,AED,39661.9,01/01/2025,191-000-0000-0000,3.67,2024-02-04
5,1.0,AED,39661.9,01/01/2025,191-000-0000-0000,3.67,2024-03-03
6,1.0,AED,39661.9,01/01/2025,191-000-0000-0000,3.67,2024-02-11
7,1.0,AED,39661.9,01/01/2025,191-000-0000-0000,3.67,2024-02-18
8,1.0,AED,39661.9,01/01/2025,191-000-0000-0000,3.67,2024-02-25
9,1.0,AED,39661.9,01/01/2025,191-000-0000-0000,3.67,2024-03-10

In [23]:
import pandas as pd

gs_prices_enriched_df = pd.read_csv("gs_prices_enriched.csv")

gs_prices_enriched_df.columns = gs_prices_enriched_df.columns.str.strip()

if "Currency" in gs_prices_enriched_df.columns:
    gs_prices_enriched_df = gs_prices_enriched_df.rename(columns={"Currency": "currency"})
gs_prices_enriched_df["currency"]   = gs_prices_enriched_df["currency"].astype(str).str.strip()
exchange_rates_data["currency"]     = exchange_rates_data["currency"].astype(str).str.strip()

gs_prices_enriched_exchange = gs_prices_enriched_df.merge(
    exchange_rates_data,
    on="currency",
    how="outer",
    validate="m:m"  
)
print("after join", len(gs_prices_enriched_exchange))
display(gs_prices_enriched_exchange.head(10))

after join 1440340

,Location_Codes,Master_Item_Codes,currency,Countries,Low_Price,Final_Item,Category,rate,date
0,191-000-0000-0000,001-001-0000,AED,United Arab Emirates,17.37,Beef and Veal,Food and Non-Alcoholic beverages,3.67,2024-01-07
1,191-000-0000-0000,001-001-0000,AED,United Arab Emirates,17.37,Beef and Veal,Food and Non-Alcoholic beverages,3.67,2024-01-14
2,191-000-0000-0000,001-001-0000,AED,United Arab Emirates,17.37,Beef and Veal,Food and Non-Alcoholic beverages,3.67,2024-01-21
3,191-000-0000-0000,001-001-0000,AED,United Arab Emirates,17.37,Beef and Veal,Food and Non-Alcoholic beverages,3.67,2024-01-28
4,191-000-0000-0000,001-001-0000,AED,United Arab Emirates,17.37,Beef and Veal,Food and Non-Alcoholic beverages,3.67,2024-02-04
5,191-000-0000-0000,001-001-0000,AED,United Arab Emirates,17.37,Beef and Veal,Food and Non-Alcoholic beverages,3.67,2024-03-03
6,191-000-0000-0000,001-001-0000,AED,United Arab Emirates,17.37,Beef and Veal,Food and Non-Alcoholic beverages,3.67,2024-02-11
7,191-000-0000-0000,001-001-0000,AED,United Arab Emirates,17.37,Beef and Veal,Food and Non-Alcoholic beverages,3.67,2024-02-18
8,191-000-0000-0000,001-001-0000,AED,United Arab Emirates,17.37,Beef and Veal,Food and Non-Alcoholic beverages,3.67,2024-02-25
9,191-000-0000-0000,001-001-0000,AED,United Arab Emirates,17.37,Beef and Veal,Food and Non-Alcoholic beverages,3.67,2024-03-10

In [24]:
##Save data
expenditure_df_exchange.to_csv("expenditure_df_exchange.csv", index=False, encoding="utf-8-sig")
gs_prices_enriched_exchange.to_csv("gs_prices_enriched_exchange.csv", index=False, encoding="utf-8-sig")
housing_df_exchange.to_csv("housing_df_exchange.csv", index=False, encoding="utf-8-sig")
compensation_df_exchange.to_csv("compensation_df_exchange.csv", index=False, encoding="utf-8-sig")

In [25]:
expenditure_df = pd.read_csv("expenditure_df_exchange.csv")
compensation_df = pd.read_csv("compensation_df_exchange.csv")
housing_df = pd.read_csv("housing_df_exchange.csv")
gs_prices_df = pd.read_csv("gs_prices_enriched_exchange.csv")

In [26]:
# Convert to USD
def add_usd_column(df, value_cols, rate_col="rate"):
    for col in value_cols:
        if col in df.columns:
            df[f"{col}_usd"] = df[col] / df[rate_col]
    return df

compensation_df = add_usd_column(compensation_df, ["base_pay"])
housing_df = add_usd_column(housing_df, ["price", "utilities"])
gs_prices_df = add_usd_column(gs_prices_df, ["Low_Price"])

In [27]:
gs_prices_df["Low_Price_usd"].describe()

count    1.433124e+06
mean     3.866622e+01
std      1.072925e+02
min      7.717923e-02
25%      2.177083e+00
50%      5.650602e+00
75%      2.100000e+01
max      1.368940e+03
Name: Low_Price_usd, dtype: float64

In [28]:
max_gs_row = gs_prices_df.loc[gs_prices_df["Low_Price_usd"].idxmax()]
print(max_gs_row)

Location_Codes                                       192-000-0000-0000
Master_Item_Codes                                         004-063-0000
currency                                                           UYU
Countries                                                      Uruguay
Low_Price                                                     51348.93
Final_Item                                             Washing Machine
Category             Furnishings, Household Equipment and Routine H...
rate                                                             37.51
date                                                        2024-03-31
Low_Price_usd                                              1368.939749
Name: 1365374, dtype: object

In [29]:
housing_df["price_usd"].describe()

count    1.141536e+06
mean     1.581544e+03
std      1.744244e+03
min      2.159742e+01
25%      5.549833e+02
50%      1.100729e+03
75%      2.091527e+03
max      6.150374e+04
Name: price_usd, dtype: float64

In [30]:
max_housing_row = housing_df.loc[housing_df["price_usd"].idxmax()]
print(max_housing_row)

location_codes    121-000-0000-0000
housing_codes           001-002-006
price_type                     Rent
house_type                    House
bedroom                         6.0
currency                        EUR
price                      52278.18
utilities                    124.74
rate                           0.85
date                     2025-06-29
price_usd              61503.741176
utilities_usd            146.752941
Name: 494319, dtype: object

In [31]:
housing_df["utilities_usd"].describe()

count    1.141536e+06
mean     1.309276e+02
std      6.502901e+01
min      6.897087e+00
25%      1.017955e+02
50%      1.259862e+02
75%      1.549713e+02
max      7.368588e+02
Name: utilities_usd, dtype: float64

In [32]:
min_util_row = housing_df.loc[housing_df["utilities_usd"].idxmin()]
print(min_util_row)

location_codes    186-000-0000-0000
housing_codes           001-001-001
price_type                     Rent
house_type                Apartment
bedroom                         1.0
currency                        TRY
price                       1300.09
utilities                    288.85
rate                          41.88
date                     2025-10-19
price_usd                 31.043219
utilities_usd              6.897087
Name: 1056933, dtype: object

In [33]:
expenditure_df.head()

,location_codes,currency,type,num_of_adult,num_of_child,coefficient_a,coefficient_b,rate,date
0,191-000-0000-0000,AED,G&S,2.0,0.0,53671.49952,0.31999,3.67,2024-01-07
1,191-000-0000-0000,AED,G&S,2.0,0.0,53671.49952,0.31999,3.67,2024-01-14
2,191-000-0000-0000,AED,G&S,2.0,0.0,53671.49952,0.31999,3.67,2024-01-21
3,191-000-0000-0000,AED,G&S,2.0,0.0,53671.49952,0.31999,3.67,2024-01-28
4,191-000-0000-0000,AED,G&S,2.0,0.0,53671.49952,0.31999,3.67,2024-02-04

In [34]:
compensation_df.head()

,job_level,currency,base_pay,price_date,location_codes,rate,date,base_pay_usd
0,1.0,AED,39661.9,01/01/2025,191-000-0000-0000,3.67,2024-01-07,10807.057221
1,1.0,AED,39661.9,01/01/2025,191-000-0000-0000,3.67,2024-01-14,10807.057221
2,1.0,AED,39661.9,01/01/2025,191-000-0000-0000,3.67,2024-01-21,10807.057221
3,1.0,AED,39661.9,01/01/2025,191-000-0000-0000,3.67,2024-01-28,10807.057221
4,1.0,AED,39661.9,01/01/2025,191-000-0000-0000,3.67,2024-02-04,10807.057221

In [35]:
# Geo Identifier
location_df.head()

,Location_Codes,City,Province,Country,City_Province_Country,Country_Codes,Province_Codes,Metropolitan_Codes,ISO_3166_Alpha_2,ISO_3166_Alpha_3,ISO_4217_Currency_Name,ISO_4217_Alphabetic_Codes
0,002-011-0001-0000,Tirana,Tirana,Albania,"Tirana, Tirana, Albania",2,11,1,AL,ALB,Lek,ALL
1,002-007-0002-0000,Korçë,Korçë,Albania,"Korçë, Korçë, Albania",2,7,2,AL,ALB,Lek,ALL
2,002-012-0003-0000,Vlorë,Vlorë,Albania,"Vlorë, Vlorë, Albania",2,12,3,AL,ALB,Lek,ALL
3,002-012-0004-0000,Sarandë,Vlorë,Albania,"Sarandë, Vlorë, Albania",2,12,4,AL,ALB,Lek,ALL
4,002-010-0005-0000,Shkodër,Shkodër,Albania,"Shkodër, Shkodër, Albania",2,10,5,AL,ALB,Lek,ALL

In [36]:
location_country_counts = location_df.groupby("Location_Codes")["City"].nunique()
inconsistent_locations = location_country_counts[location_country_counts > 1]
conflict_details = location_df[location_df["Location_Codes"].isin(inconsistent_locations.index)]
conflict_details

,Location_Codes,City,Province,Country,City_Province_Country,Country_Codes,Province_Codes,Metropolitan_Codes,ISO_3166_Alpha_2,ISO_3166_Alpha_3,ISO_4217_Currency_Name,ISO_4217_Alphabetic_Codes
72,017-001-0002-0000,Antwerp,Antwerp,Belgium,"Antwerp, Antwerp, Belgium",17,1,2,BE,BEL,Euro,EUR
73,017-001-0002-0000,Ghent,East Flanders,Belgium,"Ghent, East Flanders, Belgium",17,3,3,BE,BEL,Euro,EUR

In [37]:
# date_time format
gs_prices_df["date"] = pd.to_datetime(gs_prices_df["date"], errors="coerce")
expenditure_df["date"] = pd.to_datetime(expenditure_df["date"], errors="coerce")
housing_df["date"] = pd.to_datetime(housing_df["date"], errors="coerce")
compensation_df["date"] = pd.to_datetime(compensation_df["date"], errors="coerce")

In [38]:
# Health

In [39]:
print(gs_prices_df.loc[gs_prices_df["Category"].eq("Health"), "Final_Item"].unique())

['Painkiller' 'Medical Doctor' 'Cough Drops' 'Contact Lens Solution'
 'Band Aids/Plasters' 'Isopropyl Alcohol' 'Vitamins' 'Penicillin'
 'Dental cleaning & checkup']

In [40]:
health_df = gs_prices_df[gs_prices_df["Category"].eq("Health")].copy()

In [41]:
# Assign annual frequency weights (from WHO / OECD sources)
freq_map = {
    'Painkiller': 6,                # OECD/CDC: common OTC analgesic use ~6x/yr
    'Medical Doctor': 5,            # OECD avg doctor visits/person ~5x/yr
    'Cough Drops': 4,               # CDC: 2–4 colds/yr
    'Contact Lens Solution': 6,     # regular users ~monthly refill
    'Band Aids/Plasters': 2,        # Euromonitor: wound care ~2x/yr
    'Isopropyl Alcohol': 1,         # disinfectant ~1x/yr
    'Vitamins': 12,                 # supplements often monthly
    'Penicillin': 1,                # antibiotics ~1x/yr
    'Dental cleaning & checkup': 2  # dentist visits ~2x/yr
}

In [42]:
health_df["freq_weight"] = health_df["Final_Item"].map(freq_map)

In [43]:
import numpy as np
# Compute weighted pharmacy/health index per country
def weighted_mean(x):
    return np.average(x["Low_Price_usd"], weights=x["freq_weight"])

pharmacy_weighted = (
    health_df
    .groupby("Countries", as_index=False)
    .apply(lambda g: pd.Series({"weighted_pharmacy_index": weighted_mean(g)}),
           include_groups=False)
)

In [44]:
# Fetch World Bank OOP expenditure data (indicator SH.XPD.OOPC.CH.ZS)
import requests
import io
import zipfile

url = "https://api.worldbank.org/v2/en/indicator/SH.XPD.OOPC.CH.ZS?downloadformat=csv"
r = requests.get(url)
r.raise_for_status()

zip_file = io.BytesIO(r.content)
with zipfile.ZipFile(zip_file) as z:
    data_files = [f for f in z.namelist() if f.startswith("API_") and f.endswith(".csv")]
    print("All CSV files in ZIP:", data_files)
    if not data_files:
        raise FileNotFoundError(" No valid data file found in World Bank ZIP.")
    
    data_file = data_files[0]
    print(f"Reading data from: {data_file}")
    
    oop_data = pd.read_csv(z.open(data_file), skiprows=4)

print("Columns in oop_data:", oop_data.columns.tolist())
print(oop_data.head())

All CSV files in ZIP: ['API_SH.XPD.OOPC.CH.ZS_DS2_en_csv_v2_128929.csv']
Reading data from: API_SH.XPD.OOPC.CH.ZS_DS2_en_csv_v2_128929.csv
Columns in oop_data: ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', 'Unnamed: 69']
                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                                      Indicator Name     Indicator Code  1960  \
0  Out-of-pocket expenditure (% of current health...  SH.XPD.OOPC.CH.ZS   NaN
1  Out-of-pocket expenditure (% of current health...  SH.XPD.OOPC.CH.ZS   NaN
2  Out-of-pocket expenditure (% of current health...  SH.XPD.OOPC.CH.ZS   NaN
3  Out-of-pocket expenditure (% of current health...  SH.XPD.OOPC.CH.ZS   NaN
4  Out-of-pocket expenditure (% of current health...  SH.XPD.OOPC.CH.ZS   NaN

   1961  1962  1963  1964  1965  1966  1967  1968  1969  1970  1971  1972  \
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   1973  1974  1975  1976  1977  1978  1979  1980  1981  1982  1983  1984  \
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   1985  1986  1987  1988  1989  1990  1991  1992  1993  1994  1995  1996  \
0   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

   1997  1998  1999       2000       2001       2002       2003       2004  \
0   NaN   NaN   NaN        NaN        NaN        NaN        NaN        NaN
1   NaN   NaN   NaN  22.569327  23.151507  23.683169  20.918524  19.921938
2   NaN   NaN   NaN        NaN        NaN  85.375603  86.069191  84.527588
3   NaN   NaN   NaN  62.072191  61.374866  62.798107  67.267943  62.202266
4   NaN   NaN   NaN  27.304688  45.091087  49.662052  48.510689  46.891098

        2005       2006       2007       2008       2009       2010  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1  19.805492  20.171527  20.785037  20.945395  18.189474  17.514733
2  78.970085  76.824974  78.169983  75.403389  72.779243  78.996651
3  61.206530  64.360164  64.553693  65.390400  64.581787  65.231320
4  42.332657  30.665701  28.383972  21.653238  15.508905  19.343756

        2011       2012       2013       2014       2015       2016  \
0        NaN        NaN        NaN        NaN        NaN        NaN
1  17.049992  16.837339  18.979712  18.079242  19.602029  19.313245
2  73.255173  74.486206  72.047859  73.055923  78.382294  75.974335
3  63.493351  62.997398  61.913487  62.410971  61.763292  63.025068
4  17.993809  17.619177  21.349277  26.876167  33.523167  35.208931

        2017       2018       2019       2020       2021       2022  2023  \
0        NaN        NaN        NaN        NaN        NaN        NaN   NaN
1  17.055777  15.155923  15.490534  15.440980  14.580090  16.289885   NaN
2  75.482582  76.223022  76.818367  74.813965  77.214050  77.946152   NaN
3  63.626640  62.428259  59.269767  58.049101  60.060442  60.872130   NaN
4  34.121014  36.180267  33.057240  28.661709  26.077639  28.700151   NaN

   2024  Unnamed: 69
0   NaN          NaN
1   NaN          NaN
2   NaN          NaN
3   NaN          NaN
4   NaN          NaN

In [45]:
# Clean & reshape
oop_data = oop_data.drop(columns=[col for col in oop_data.columns if "Unnamed" in col], errors="ignore")

oop_df = oop_data.melt(
    id_vars=["Country Name", "Country Code"],
    value_name="oop_share",
    var_name="year"
)

oop_df["year"] = pd.to_numeric(oop_df["year"], errors="coerce")
oop_df["oop_share"] = pd.to_numeric(oop_df["oop_share"], errors="coerce")
oop_df = oop_df.dropna(subset=["oop_share"])
oop_df = oop_df.sort_values(["Country Name", "year"])

oop_latest = (
    oop_df.groupby("Country Name", as_index=False)
    .last()
    .rename(columns={"Country Name": "Country"})
)

oop_latest["coverage_rate"] = 1 - oop_latest["oop_share"] / 100

oop_latest = oop_latest[["Country", "year", "oop_share", "coverage_rate"]]

print("Extracted latest coverage data:")
print(oop_latest.head(10))
print(f"\nTotal countries covered: {oop_latest['Country'].nunique()}")

Extracted latest coverage data:
                       Country    year  oop_share  coverage_rate
0                  Afghanistan  2022.0  77.946152       0.220538
1  Africa Eastern and Southern  2022.0  16.289885       0.837101
2   Africa Western and Central  2022.0  60.872130       0.391279
3                      Albania  2022.0  51.260521       0.487395
4                      Algeria  2022.0  49.975849       0.500242
5                      Andorra  2023.0  10.980719       0.890193
6                       Angola  2022.0  28.700151       0.712998
7          Antigua and Barbuda  2022.0  24.807791       0.751922
8                   Arab World  2022.0  25.883117       0.741169
9                    Argentina  2022.0  26.401384       0.735986

Total countries covered: 240

In [46]:
# Merge with price index
merged = pharmacy_weighted.merge(
    oop_latest[["Country", "coverage_rate"]],
    left_on="Countries",
    right_on="Country",
    how="left"
)

In [47]:
merged = merged.drop(columns=["Country"])

In [48]:
unmatched = pharmacy_weighted[~pharmacy_weighted["Countries"].isin(oop_latest["Country"])]
print(f"Unmatched countries: {len(unmatched)}")
display(unmatched)

Unmatched countries: 20

          Countries  weighted_pharmacy_index
14          Bermuda                31.048974
19           Brunei                13.552942
30          Curacao                25.433401
32   Czech Republic                11.258765
37            Egypt                 6.845237
43    French Guiana                12.738540
49         Guernsey                23.847839
52        Hong Kong                17.511468
58      Isle of Man                18.896834
63           Jersey                24.618217
67           Kosovo                19.827707
69             Laos                10.015046
73            Macau                23.268868
97      Puerto Rico                      NaN
100          Russia                 9.426482
106        Slovakia                 8.132953
109     South Korea                12.078355
115          Taiwan                12.280814
120          Turkey                20.594896
129         Vietnam                 7.457177

In [49]:
# Manual Match
name_map = {
    "Brunei": "Brunei Darussalam",
    "Czech Republic": "Czechia",
    "Egypt": "Egypt, Arab Rep.",
    "Hong Kong": "China",
    "Macau": "China",
    "Laos": "Lao PDR",
    "Russia": "Russian Federation",
    "Slovakia": "Slovak Republic",
    "South Korea": "Korea, Rep.",
    "Turkey": "Turkiye",
    "Vietnam": "Viet Nam",
    "Taiwan": "China",
    "Bermuda": "United Kingdom",
    "Guernsey": "United Kingdom",
    "Isle of Man": "United Kingdom",
    "Jersey": "United Kingdom",
    "French Guiana": "France",
    "Curacao": "Netherlands",
    "Puerto Rico": "United States",
    "Kosovo": "Serbia"
}

pharmacy_weighted["Countries"] = pharmacy_weighted["Countries"].replace(name_map)

import re, unicodedata
def clean_name(s):
    if pd.isna(s):
        return s
    s = re.sub(r'[\u2000-\u200b\u202f\u205f\u00a0]', ' ', s)
    s = unicodedata.normalize('NFKC', s.strip())
    return s

pharmacy_weighted["Countries"] = pharmacy_weighted["Countries"].apply(clean_name)
oop_latest["Country"] = oop_latest["Country"].apply(clean_name)

merged = pharmacy_weighted.merge(
    oop_latest[["Country", "coverage_rate"]],
    left_on="Countries",
    right_on="Country",
    how="left"
)

In [50]:
unmatched = pharmacy_weighted[~pharmacy_weighted["Countries"].isin(oop_latest["Country"])]
print(f"Unmatched countries: {len(unmatched)}")
display(unmatched)

Unmatched countries: 0

Empty DataFrame
Columns: [Countries, weighted_pharmacy_index]
Index: []

In [51]:
#Compute per-capita and per-household health costs

In [52]:
GLOBAL_BASELINE_HEALTH_EXP = 1200   # WHO global per-capita health expenditure (PPP USD)

merged["health_cost_per_capita"] = (
    GLOBAL_BASELINE_HEALTH_EXP *
    merged["weighted_pharmacy_index"] /
    merged["weighted_pharmacy_index"].mean()
)

# Out-of-pocket component
merged["oop_cost"] = merged["health_cost_per_capita"] * (1 - merged["coverage_rate"])


# Normalize for cross-country comparison (index = 100 avg)
merged["health_cost_index"] = (
    merged["oop_cost"] / merged["oop_cost"].mean() * 100
)

In [53]:
cols = ["Countries", "weighted_pharmacy_index", "coverage_rate",
        "health_cost_per_capita", "oop_cost", "health_cost_index"]

merged[cols].sort_values("health_cost_index", ascending=False).head(15)

,Countries,weighted_pharmacy_index,coverage_rate,health_cost_per_capita,oop_cost,health_cost_index
121,Turkmenistan,20.701480,0.207788,1615.942361,1280.168298,415.065534
128,Uzbekistan,16.474513,0.347021,1285.988413,839.723492,272.261296
48,Guatemala,16.879347,0.416163,1317.589443,769.257435,249.414275
21,Cambodia,15.484063,0.387890,1208.674581,739.841964,239.876976
114,Switzerland,43.034747,0.784173,3359.260834,725.020366,235.071409
8,Azerbaijan,14.062966,0.355323,1097.744827,707.690894,229.452721
22,Cameroon,12.518840,0.323064,977.211471,661.509136,214.479333
64,Jordan,20.080896,0.597857,1567.500000,630.359783,204.379862
1,Algeria,15.927977,0.500242,1243.326207,621.362830,201.462804
73,China,23.268868,0.664129,1816.350762,610.059911,197.798089
96,Portugal,25.130187,0.702360,1961.643985,583.863265,189.304421
67,Serbia,19.827707,0.634672,1547.736289,565.430793,183.328110
118,Trinidad and Tobago,14.514259,0.507662,1132.972389,557.805651,180.855830
76,Mexico,17.132636,0.609103,1337.361009,522.769931,169.496293
102,Senegal,13.710651,0.511726,1070.243341,522.571468,169.431946

In [54]:
# Personal Care

In [55]:
print(gs_prices_df.loc[gs_prices_df["Category"].eq("Personal Care"), "Final_Item"].unique())

['Dry Cleaning' "Man's Haircut" "Woman's Haircut" 'Feminine products'
 'Toothpaste' 'Mouthwash' 'Razor Blades' 'Bath Soap' 'Laundry Detergent'
 'Diapers' 'Shampoo' 'Nail Polish' 'Deodorant']

In [56]:
personal_care_df = gs_prices_df[gs_prices_df["Category"].eq("Personal Care")].copy()

In [57]:
# Assign frequency
freq_map_personal_care = {
    "Dry Cleaning": 4,          # Quarterly average — IBISWorld (2022): 3–5 times/year
    "Man's Haircut": 8,         # Every ~6 weeks — Statista Grooming Survey 2022
    "Woman's Haircut": 4,       # Every ~3 months — Statista Haircare Frequency 2022
    "Feminine products": 12,    # Monthly cycle — WHO/UNFPA hygiene standards
    "Toothpaste": 12,           # Monthly tube replacement — WHO Oral Health Survey 2019
    "Mouthwash": 6,             # Every 2 months — Mintel Oral Care 2023
    "Razor Blades": 6,          # Every 2 months — Statista Razor Usage 2022
    "Bath Soap": 12,            # Monthly bar/bottle — Euromonitor Hygiene Report 2023
    "Laundry Detergent": 12,    # Monthly household purchase — Euromonitor Cleaning 2022
    "Diapers": 4,               # Quarterly average per capita — UNICEF Diaper Market 2021
    "Shampoo": 12,              # Monthly — Nielsen Haircare Usage 2022
    "Nail Polish": 4,           # Quarterly — Mintel Beauty Report 2023
    "Deodorant": 12             # Monthly — Nielsen Global Deodorant Market 2022
}

canon_lookup = {k.lower(): v for k, v in freq_map_personal_care.items()}

def assign_freq(name):
    s = str(name).lower().strip()
    return canon_lookup.get(s, np.nan)

personal_care_df["freq_weight"] = personal_care_df["Final_Item"].apply(assign_freq)

In [58]:
# Income group by World Bank
import requests

url = "https://api.worldbank.org/v2/country?format=json&per_page=400"
resp = requests.get(url)
data = resp.json()[1]

income_df = pd.DataFrame([
    {
        "CountryCode": c["id"],
        "Countries": c["name"],
        "Region": c["region"]["value"],
        "IncomeGroup": c["incomeLevel"]["value"]
    }
    for c in data
])
income_df = income_df[income_df["IncomeGroup"] != "Not classified"]
income_df["IncomeGroup"] = income_df["IncomeGroup"].str.strip()

print("Income groups from World Bank:", income_df["IncomeGroup"].unique())

Income groups from World Bank: ['High income' 'Aggregates' 'Low income' 'Lower middle income'
 'Upper middle income']

In [59]:
# Merge with income group
merged_personal = personal_care_df.merge(
    income_df[["Countries", "IncomeGroup"]],
    on="Countries",
    how="left"
)

In [60]:
print(merged_personal.columns.tolist())

['Location_Codes', 'Master_Item_Codes', 'currency', 'Countries', 'Low_Price', 'Final_Item', 'Category', 'rate', 'date', 'Low_Price_usd', 'freq_weight', 'IncomeGroup']

In [61]:
unmatched_unique = (
    personal_care_df[~personal_care_df["Countries"].isin(income_df["Countries"])]
    ["Countries"]
    .drop_duplicates()
    .sort_values()
)
print(f"Unique unmatched countries: {len(unmatched_unique)}")
print(unmatched_unique.tolist())

Unique unmatched countries: 17
['Brunei', 'Czech Republic', 'Egypt', 'Ethiopia', 'French Guiana', 'Guernsey', 'Hong Kong', 'Jersey', 'Laos', 'Macau', 'Puerto Rico', 'Russia', 'Slovakia', 'South Korea', 'Taiwan', 'Turkey', 'Vietnam']

In [62]:
# Manual mapping
name_map = {
    "Brunei": "Brunei Darussalam",
    "Czech Republic": "Czechia",
    "Egypt": "Egypt, Arab Rep.",
    "Ethiopia": "Ethiopia",
    "French Guiana": "France",
    "Guernsey": "United Kingdom",
    "Hong Kong": "Hong Kong SAR, China",
    "Jersey": "United Kingdom",
    "Laos": "Lao PDR",
    "Macau": "Macao SAR, China",
    "Puerto Rico": "United States",
    "Russia": "Russian Federation",
    "Slovakia": "Slovak Republic",
    "South Korea": "Korea, Rep.",
    "Taiwan": "China",
    "Turkey": "Turkiye",
    "Vietnam": "Viet Nam"
}

# Apply it
personal_care_df.loc[
    personal_care_df["Countries"].isin(unmatched_unique), "Countries"
] = personal_care_df["Countries"].replace(name_map)

In [63]:
merged_personal = personal_care_df.merge(
    income_df[["Countries", "IncomeGroup"]],
    on="Countries",
    how="left"
)

In [64]:
unmatched_unique = (
    personal_care_df[~personal_care_df["Countries"].isin(income_df["Countries"])]
    ["Countries"]
    .drop_duplicates()
    .sort_values()
)
print(f"Unique unmatched countries: {len(unmatched_unique)}")
print(unmatched_unique.tolist())

Unique unmatched countries: 1
['Ethiopia']

In [65]:
merged_personal.loc[
    merged_personal["Countries"].eq("Ethiopia"), "IncomeGroup"
] = "Low income"

In [66]:
merged_personal.head()

,Location_Codes,Master_Item_Codes,currency,Countries,Low_Price,Final_Item,Category,rate,date,Low_Price_usd,freq_weight,IncomeGroup
0,191-000-0000-0000,003-047-0000,AED,United Arab Emirates,13.01,Dry Cleaning,Personal Care,3.67,2024-01-07,3.544959,4,High income
1,191-000-0000-0000,003-047-0000,AED,United Arab Emirates,13.01,Dry Cleaning,Personal Care,3.67,2024-01-14,3.544959,4,High income
2,191-000-0000-0000,003-047-0000,AED,United Arab Emirates,13.01,Dry Cleaning,Personal Care,3.67,2024-01-21,3.544959,4,High income
3,191-000-0000-0000,003-047-0000,AED,United Arab Emirates,13.01,Dry Cleaning,Personal Care,3.67,2024-01-28,3.544959,4,High income
4,191-000-0000-0000,003-047-0000,AED,United Arab Emirates,13.01,Dry Cleaning,Personal Care,3.67,2024-02-04,3.544959,4,High income

In [67]:
aggregates_in_merged = merged_personal[merged_personal["IncomeGroup"] == "Aggregates"]

print(f"Total 'Aggregates' entries in merged_personal: {len(aggregates_in_merged)}")
display(
    aggregates_in_merged[["Countries", "IncomeGroup"]]
    .drop_duplicates()
    .sort_values("Countries")
)

Total 'Aggregates' entries in merged_personal: 0

Empty DataFrame
Columns: [Countries, IncomeGroup]
Index: []

In [68]:
# Adjust frequency for different countries
income_adj = {
    "High income": 1.00,
    "Upper middle income": 0.85,
    "Lower middle income": 0.65,
    "Low income": 0.45
}

In [69]:
# Calculation

In [70]:
merged_personal["income_factor"] = merged_personal["IncomeGroup"].map(income_adj).fillna(1.0)

In [71]:
merged_personal["freq_weight_adj"] = merged_personal["freq_weight"] * merged_personal["income_factor"]

In [72]:
def annual_cost(df):
    df = df.dropna(subset=["Low_Price_usd", "freq_weight_adj"])
    if len(df) == 0:
        return np.nan
    df["annual_expense"] = df["Low_Price_usd"] * df["freq_weight_adj"]
    return df["annual_expense"].mean()

In [73]:
personal_weighted = (
    merged_personal.groupby("Countries", as_index=False)
    .apply(lambda g: pd.Series({"personal_care_cost_usd": annual_cost(g)}),
           include_groups=False)
)

In [74]:
print(personal_weighted.head(10))
print(f"Total countries with data: {personal_weighted['personal_care_cost_usd'].notna().sum()}")

    Countries  personal_care_cost_usd
0     Albania               28.167020
1     Algeria               43.748114
2     Andorra               40.616217
3      Angola               31.593975
4   Argentina               42.398080
5     Armenia               29.677455
6   Australia               54.133993
7     Austria               57.224783
8  Azerbaijan               36.389344
9     Bahrain               59.506477
Total countries with data: 122